<template>
  <div class="about">
    <h1>What is this?</h1>
    <h2>A bunch of Solr demos</h2>
    <input type="radio" name="tabs" id="tab_huh" checked />
    <input type="radio" name="tabs" id="tab_kwic" />
    <input type="radio" name="tabs" id="tab_filters" />
    <input type="radio" name="tabs" id="tab_docs" />
    <input type="radio" name="tabs" id="tab_compare" />
    <input type="radio" name="tabs" id="tab_tech" />

        <nav>
          <label for="tab_huh">?</label>
          <label for="tab_kwic">Simple KWIC</label>
          <label for="tab_filters">Filters &amp; Facets</label>
          <label for="tab_docs">Doc info</label>
          <label for="tab_compare">Doc comparison</label>
          <label for="tab_tech">Technical notes</label>
        </nav>

        <div class="tab_huh">
          <p>This is a sketch of some components and an illustration
          of some possibilities offered by building a Solr index. The
          initial thought was motivated by project tracking
          questions. The immediate intent now is to inform
          decision-making, not to demonstrate coherence. The parts
          here could be selected, adapted, and discarded. Their present job 
          is to make more areas of the space of alternatives visible. End users
          should not have to consider very many alternatives up front;
          on the other end, we should know the range of
          alternatives.</p>
          <p>The primary content indexed in this case is about 23,000
          documents from the (mostly) Phase I texts in Bitbucket that
          populate the Annotation Module.</p>
          <p>Some very basic information from original TCP files is
          also indexed and put to use in
          the <a href="inventory">inventory</a> page.</p>
        </div>

        <div class="tab_kwic">
          <h2>Seemingly-simple KWIC</h2>
          <p>First is a simple-seeming, generous <a href="simple">text
          search</a>.</p>
          <p>Type a word without quotation marks to find the
          word. Type a series of words, and results will be ranked by
          the appearance of those words in proximity, but not
          necessarily in order. Use quotation marks to search for a
          multi-word phrase.</p>
          <p>Any given word or phrase is retrievable by original
          spelling, regularization, lemma, and even part of speech
          (preceded by an underscore). These can all be combined. For
          example, you can search for
            <b><a href='simple?q="have%20a%20_j%20_n1"'>"have a _j _n1"</a></b>.</p>
          <p>This is not doing what BlackLab does. It's quite useful
            in its own way. The inexactness of separation between
            original spellings and lemmas is asymmetric in a way that
            may be especially convenient for researchers with growing
            or uncertain awareness of orthographic variation.</p>
          <p>For example, search
          for <b><a href='simple?q="mail"'>"mail"</a></b>. This
          returns any exact spellings, <i>and also</i> any alternate
          spellings where the lemma is "mail". If one gets interested
          in an orthographic form that is not a lemma, however, one
          can find it more narrowly:
          try <b><a href='simple?q="mayle"'>"mayle"</a></b>
          or <b><a href='simple?q="Mayle"'>"Mayle"</a></b>. Instances
          of lowercase original spelling are not indexed with
          uppercase alternates, while uppercase instances are indexed
          through their lowercase forms as well. Similarly originals
          that happen to match lemmas will be indistinguishable from
          their alternate forms, but non-lemma-matching forms can be
          found exactly. In other words, when the original is
          "hauing," that location in the text is indexed as "hauing"
          and "having" and "have." Any of those searches will find
          this instance of "hauing." But when the original is "have,"
          it's simply indexed as "have," and a search for "haue" won't
          find it.</p>
          <p>This kind of asymmetry can be especially
          user-friendly for users at all levels of orthographic
          sophistication. One doesn't need to know about spelling
          variation in advance in order to come across results that
          account for it. In the common case where the researcher
          cares about a topic rather than about orthographic
          uncertainty for its own sake, this both respects
          orthographic variation and gets out of the researcher's way.</p>
    </div>
        <div class="tab_filters">
          <h2>Filters &amp; facets</h2>
          <p>A <a href="filters">grab-bag</a> of filters and
          facets, including text search. Solr is not just, or even
          primarily, a tool for finding full-text snippets; it is
          especially good at organizing metadata facets to identify
          classes of documents.</p>
          <p>The "text search" box works as it does on the simple text
          search page described above. The four text filter boxes
          above it are identified as filters because they do not
          return full-text snippets, but they do filter the documents
          based on particular fields that have been indexed. Because
          these fields have been separately indexed, it's possible to
          make use of term frequencies and term matching to support
          autocompletion.</p>
          <p>In the author field, type three or more letters
          (lowercase only here, although that's not the most
          user-friendly) to get a dropdown. For example,
          try typing <b>"don"</b> or <b>"donne"</b>. The
          title field works similarly; one might
          try starting with <b>"chron"</b> … .</p>
          <p>The Orig and Lemma fields index much more narrowly than
          the field that supports general text search. They don't
          store snippets or phrases, but they do store counts of
          terms, exactly matched in their respective fields. The Orig
          field will find the documents that
          contain <b>"mayle"</b>, while there is no such lemma
          with that spelling.</p>
          <p>The year chart is a concise indication of the number of
          documents (<b>not</b> the number of matching
          terms). The component here is not yet interactive, but
          filtering by temporal range is straightforward. This graph
          is too minimalist in not yet labeling the years, but the
          50-year markers from 1500 to 1700 are stable.</p>
          <p>The remaining expandable components show a different form
          of faceting for metadata fields with a relatively small
          number of possible values. Some of these particular metadata
          fields may be of more interest to the project internally
          than to a general researcher. I </p>
        </div>
        <div class="tab_docs">
          <h2>Document info</h2>
          <p>Clicking on a TCP identifier in a result list leads to a
          <a href="doc/A12782.xml">document page</a>. This shows the
          range of information that can be indexed and attached to a
          document for internal or external purposes. I have indexed
          counts of TEI tags outside the teiHeader, some metadata from
          the header (such as "sourceauthor"), and some metadata from
          Martin's customized metadata segments (such as "epauthor;"
          the "ep" prefix here helps identify some fields from
          Martin's data).</p>

          <h3>More like this</h3>
          <p>Solr has built in a "more like this" option that does
          similarity calculations based on chosen fields. It does this
          based on an information-retrieval formula called "Okapi
          BM25," which is an updated version of TF-IDF that has been
          found to work better for typical use cases when documents
          are of different lengths. </p>

          <p>The similarity formula can be applied to different fields
          in Solr. For demonstration purposes, lemma and orig field
          recommendations are listed side-by-side, although in
          practice, I expect most users would be best served by one
          list, when the purpose is peripheral serendipity.</p>
          
          <h3>Term vectors</h3>

          <p>Solr can report term counts from a field in a document,
          if the index has been configured to support term vectors. At
          the bottom of the document page there's a list of terms,
          counts, and document counts for the top terms in the
          document, along with a document-count/term-frequency
          scatterplot. This is repeated for terms in the original
          spelling field and for the lemma field.</p>

        </div>
        <div class="tab_compare">
          <h2>Document comparison</h2>
          <p>Using Solr's Term Vector component, one can get term
          counts for <a href="compare/A52264.xml,A26162.xml">two
          documents</a> at a time and compare the counts in the
          browser. This is not the same as querying dynamically across
          all documents based on counts.</p>
          <p>The demonstration page organizes three lists of words: on
          the left, words that appear just in the first document, in
          descending order of frequency; on the right, words that
          appear only in the second document, and in the middle is a
          table comparing terms that appear in both documents, with
          counts of each, a log-likelihood calculation, and document
          frequency of the term in the corpus.</p>
          <p>This version uses the "orig" term index, just because it
          is closest to the transcription, although it counts variant
          spellings and capitalizations separately, which for some
          analytic purposes one would prefer to combine.</p>
          <p>The sort button sorts shared terms by log-likehood. That
          is, it orders the terms by comparing their relative counts
          in the two documents, while taking into account the
          magnitude of counts across documents in a way that a simple
          difference or ratio would not.</p>
          
        </div>
        <div class="tab_tech">
          <h2>Technical notes</h2>
          <p>The demos here are backed primarily by one Solr index
          produced with one pass through most of the Bitbucket XML
          files that load the Annotation Module. The index for about
          25,000 documents takes about 20 GB. A small second index
          (just 64M) records brief information about the original TCP
          texts. This latter index is used only in the inventory
          experiment to compare what's in the TCP and the Annotation
          Module.</p>

          <p>Much of the storage is devoted to just one field,
          "matext", which keeps track of term vectors, term positions,
          and a stored plain display text for the sake of KWIC
          highlighting. The term vectors index all versions of a token
          at each position: original spelling, regularized spelling,
          lemma, and part-of-speech with an underscore prepended.</p>

          <p>The "orig" and "lemma" versions of each token have also
          been separately indexed into their own term vector
          fields, <i>without</i> keeping track of positions or full
          text. This means there are counts for each such term in each
          document, which is all that is needed for Solr to rank
          results that search these fields, and all that's needed for
          "More like this" recommendations based on the field. It
          would be possible to reduce the size of the index by not
          indexing one or both of these.</p>

          <p>Also, some of the largest documents may not work well in
          some of these experiments. It's a lot on the server side and
          the browser side to ask the API to send a couple of million
          tokens and token counts.</p>

          <p>(A handful of the largest documents have not yet been
          fully indexed with "orig" and "lemma" fields. The method I
          used to index smaller documents wasn't going to scale up to
          larger documents. Although I eventually found a way to make
          it scale, the new method isn't yet caught up to index
          these fields.)</p>
        </div>
  </div>
</template>

<script>

// console.log("about!");
// console.log(process.env.BASE_URL);

export default {
    name: "about"
};
</script>

<style scoped>

div.about {
    margin-left: 3em;
    max-width: 50em;
}

nav {
    background: #C0C0C0;
}
nav label {
    display: inline-block;
    margin: 5px 5px 0 0;
    padding: 10px;
}

input {
    display: none;
}

#tab_huh:checked ~ nav label[for='tab_huh'] {
    background-color: #EEEEEE;
}

#tab_kwic:checked ~ nav label[for='tab_kwic'] {
    background-color: #EEEEEE;
}

#tab_filters:checked ~ nav label[for='tab_filters'] {
    background-color: #EEEEEE;
}

#tab_docs:checked ~ nav label[for='tab_docs'] {
    background-color: #EEEEEE;
}

#tab_compare:checked ~ nav label[for='tab_compare'] {
    background-color: #EEEEEE;
}
#tab_tech:checked ~ nav label[for='tab_tech'] {
    background-color: #EEEEEE;
}


#tab_huh ~ div.tab_huh,  
#tab_kwic ~ div.tab_kwic,  
#tab_filters ~ div.tab_filters,  
#tab_docs ~ div.tab_docs,
#tab_compare ~ div.tab_compare,
#tab_tech ~ div.tab_tech 
{
      display: none;
}

#tab_huh:checked ~ .tab_huh {
    display: block;
}

#tab_kwic:checked ~ .tab_kwic {
    display: block;
}

#tab_filters:checked ~ .tab_filters {
    display: block;
}

#tab_docs:checked ~ .tab_docs {
    display: block;
}
#tab_compare:checked ~ .tab_compare {
    display: block;
}
#tab_tech:checked ~ .tab_tech {
    display: block;
}

a {
    background: #EEEEFF;
    padding: 2px 5px;
    font-weight: bold;
}
a:hover {
    background: #CCCCFF;
}
  
</style>
