<template>
  <div class="dash">
    <header>
      <h1>Catalog: <span>A searchable catalog of all books included in EarlyPrint</span></h1>
      <div class="explain">
        <p>Early Print includes nearly the entire TCP corpus.  It has
        yet to absorb certain mathematical and technical materials as
        well as a number of foreign-language texts, which constitute
        challenges for our linguistic tagging.</p>
        <p>Use the search options below to add terms to your query and
        filter the list of documents. Most categories can be
        repeated. After an element has been added to your query bar,
        you can remove it by clicking on it. Text search and date
        spans cannot be repeated.</p>
        <p>Text searches limit the document set alongside other
        facets. Individual terms will match original spellings,
        regularizations, and lemmata without distinction. Use
        quotation marks to search for phrases.</p>
        <p>If this looks more complicated than
        you would like, try a <a :href="simplepath()">simple text
        search.</a></p>
      </div>
    </header>

    <query-state/>

    <div class="queryurl">
      <div v-if="show['url']">
        <label v-on:click="toggle('url')">(hide URL)</label>
        <a class="queryurl" v-bind:href="queryurl">{{queryurl}}</a>
      </div>
      <!-- <div v-else v-on:click="toggle('url')">(show URL)</div> -->
    </div>

    <doc-count/>

    <div class="response"  v-if="has_facetresponse">
       <div class="facetsandfilters">
         <div class="textfilters">

           <!-- <legacy-selector /> -->
           <div class="by-metadata" :class="show['metadata']?'open':'closed'">
             <h2 v-on:click="toggle('metadata')">By metadata
               <span class="expander">
                 <span v-if="show['metadata']">–</span>
                 <span v-else>+</span>
               </span>
             </h2>
             <div v-if="show['metadata']">
               <div class="explain">Select or search word
               matches. Titles are searched with original
               spelling.</div>  
               <author-filter/> 
               <title-filter />

               <date-span-filter />

               <!-- <bar-chart label="year"  -->
                          <!-- :data="alphasort(chunk(facets.eppublicationYear_txt))"> -->
               <!-- </bar-chart> -->
               <facet label="year" field="eppublicationYear_txt"
                      v-bind:facetmap="chunk(facets.eppublicationYear_txt)" />
               <facet label="lang" field="lang_s"
                      v-bind:facetmap="chunk(facets.lang_s)" />

               <tcpid-filter/>

             </div>


           </div>
           <div class="by-content" :class="show['content']?'open':'closed'">
             <h2 v-on:click="toggle('content')">By term
               <span class="expander">
                 <span v-if="show['content']">–</span>
                 <span v-else>+</span>
               </span>
             </h2>
             <div v-if="show['content']">
               <div class="explain">This will limit the set of documents to those that contain particular terms or lemmas without showing text-in-context snippets.</div>
               <reg-filter />
               <orig-filter />
               <lemma-filter />
             </div>
           </div>

           <div class="by-subjects2" :class="show['subjects2']?'open':'closed'">
             <h2 v-on:click="toggle('subjects2')">By ESTC subject 
               <span class="expander">
                 <span v-if="show['subjects2']">–</span>
                 <span v-else>+</span>
               </span>
             </h2>
             <div v-if="show['subjects2'] && facets">

               <div class="explain">These subject filters are derived from ESTC metadata</div>

               <facet label="General" field="estc_general_ss"
                      v-bind:facetmap="chunk(facets.estc_general_ss)" />
               <facet label="Geographic" field="estc_geographic_ss"
                      v-bind:facetmap="chunk(facets.estc_geographic_ss)" />
               <facet label="Temporal" field="estc_temporal_ss"
                      v-bind:facetmap="chunk(facets.estc_temporal_ss)" />
               <facet label="Form" field="estc_form_ss"
                      v-bind:facetmap="chunk(facets.estc_form_ss)" />
               <facet label="Creator" field="estc_creator_ss"
                      v-bind:facetmap="chunk(facets.estc_creator_ss)" />
               <facet label="Subject person" field="estc_subject_person_ss"
                      v-bind:facetmap="chunk(facets.estc_subject_person_ss)" />
               <facet label="Added person" field="estc_added_person_ss"
                      v-bind:facetmap="chunk(facets.estc_added_person_ss)" />
             </div>
           </div>

           <div class="by-subjects" :class="show['subjects']?'open':'closed'">
             <h2 v-on:click="toggle('subjects')">By subject category
               <span class="expander">
                 <span v-if="show['subjects']">–</span>
                 <span v-else>+</span>
               </span>
             </h2>
             <div v-if="show['subjects'] && facets">

               <div class="explain">These subject filters are derived from <a href="https://www.oclc.org/research/themes/data-science/fast.html">FAST</a> terms, which are based on Library of Congress subject strings. "Titles, etc." mostly contains books of the Bible with a miscellany of other terms.</div>

               <facet label="Topics" field="subjecttopical_ss" 
                      v-bind:facetmap="chunk(facets.subjecttopical_ss)" />
               <facet label="Historical persons" field="subjectpersonal_ss" 
                      v-bind:facetmap="chunk(facets.subjectpersonal_ss)" />
               <facet label="Places" field="subjectgeog_ss" 
                      v-bind:facetmap="chunk(facets.subjectgeog_ss)" />
               <facet label="Corporate entities" field="subjectcorp_ss" 
                      v-bind:facetmap="chunk(facets.subjectcorp_ss)" />
               <facet label="Chronological spans" field="subjectchron_ss" 
                      v-bind:facetmap="chunk(facets.subjectchron_ss)" />
               <facet label="Political events" field="subjectevent_ss" 
                      v-bind:facetmap="chunk(facets.subjectevent_ss)" />
               <facet label="Forms and Genres" field="subjectformgenre_ss" 
                      v-bind:facetmap="chunk(facets.subjectformgenre_ss)" />
               <facet label="Titles, etc." field="subjecttitle_ss" 
                      v-bind:facetmap="chunk(facets.subjecttitle_ss)" />
             </div>
           </div>

           <div class="by-admin" :class="show['admin']?'open':'closed'">
             <h2 v-on:click="toggle('admin')">By project category
               <span class="expander">
                 <span v-if="show['admin']">–</span>
                 <span v-else>+</span>
               </span>
             </h2>
             <div v-if="show['admin']">
               <facet label="phase" field="phase_s" 
                      v-bind:facetmap="chunk(facets.phase_s)" />
               <facet label="grade" field="epfinalGrade_s"
                      v-bind:facetmap="chunk(facets.epfinalGrade_s)" />
               <!-- <facet-interval-p label="untranscribed/missing"  -->
                                 <!-- v-bind:facetcounts="facetintervals" /> -->
             </div>
           </div>
           <div class="by-text" :class="show['text']?'open':'closed'">

             <h2 v-on:click="toggle('text')">Text search
               <span class="expander">
                 <span v-if="show['text']">–</span>
                 <span v-else>+</span>
               </span>
             </h2>
             <div v-if="show['text']">
               <div class="explain">Terms or phrases here limit the
               document set and also show a "Text in context"
               tab. </div>
               <text-search />
             </div>
           </div>
         </div>
       </div>
       <div class="tabset">
         <nav>
           <label for="tab_docs" :class="tab=='docs'?'selected':''"
                  v-on:click="tabclick('docs')">Documents</label>
           <label for="tab_tabular"  :class="(tab=='tabular')?'selected':''"
                  v-on:click="tabclick('tabular')">Subject grid</label>
           <label for="tab_snippets"  :class="(tab=='snippets')?'selected':''"
                  v-if="can_have_highlights"
                  v-on:click="tabclick('snippets')">Text in context</label>
           <label for="tab_scatter"   :class="(tab=='scatter')?'selected':''"
                  v-on:click="tabclick('scatter')">XML tag scatterplots</label>
           <label for="tab_export"   :class="(tab=='export')?'selected':''"
                  v-on:click="tabclick('export')">Export</label>
         </nav>
         <div v-if="tab=='docs'" class="tab_docs">
           <div class="paginatesort">
             <paginator v-bind:body="body"/>
             <!-- <sort-selector/> -->
           </div>
           <results v-bind:body="body" />
         </div>
         <div v-if="tab=='tabular'" class="tab_tabular">
           <overview />
         </div>
         <div v-if="tab=='snippets'" class="tab_snippets">
           <paginator v-bind:body="body"/>
           <snippets v-bind:results="body" v-if="can_have_highlights"/>
           <div class="snippetmsg" v-else>Run a text search to see extracts from currently filtered documents.</div>
         </div>
         <div v-if="tab=='scatter'" class="tab_scatter">
           <scatter-counts v-bind:fieldlist="countfieldlist" 
                           v-bind:scatterresponse="scatterresponsebody"/>
         </div>
         <div v-if="tab=='export'" class="tab_export">
           <export/>
         </div>
       </div>
     </div>
  </div>
</template>

<script>
// @ is an alias to /src

/* global _ */
// import VueLodash from "vue-lodash";

import Facet from "@/components/Facet.vue";
import Paginator from "@/components/Paginator.vue";
import DocCount from "@/components/DocCount.vue";
// import BarChart from "@/components/BarChart.vue";
import Results from "@/components/Results.vue";
import RegFilter from "@/components/RegFilter.vue";
import OrigFilter from "@/components/OrigFilter.vue";
import LemmaFilter from "@/components/LemmaFilter.vue";
import AuthorFilter from "@/components/AuthorFilter.vue";
import TitleFilter from "@/components/TitleFilter.vue";
import DateSpanFilter from "@/components/DateSpanFilter.vue";
import TextSearch from "@/components/TextSearch.vue";
import Snippets from "@/components/Snippets.vue";
import QueryState from "@/components/QueryState.vue";
import Overview from "@/components/Overview.vue";
import ScatterCounts from "@/components/ScatterCounts.vue";
// import SortSelector from "@/components/SortSelector.vue";
import TcpidFilter from "@/components/TcpidFilter.vue";
import Export from "@/components/Export.vue";

export default {
    name: "dash",
    data () {
        return {
            tab: "docs",
            show: {
                url: false,
                text: false,
                metadata: true,
                content: false,
                admin: false,
                structural: false,
                subjects: false,
                subjects2: false
            }
        };
    },
    computed:  {
        has_facetresponse: function () {
            return "body" in this.$store.state.facetresponse;
        },
        can_have_highlights: function () {
            return this.$store.state.route.query.q && 
                this.$store.state.route.query.q !== "";
        },
        facets: function () {
            return this.has_facetresponse && 
                this.$store.state.facetresponse.body &&
                this.$store.state.facetresponse.body.facet_counts &&
                this.$store.state.facetresponse.body.facet_counts.facet_fields;
        },
        facetintervals: function () {
            return this.$store.state.facetresponse.body.facet_counts && 
                this.$store.state.facetresponse.body.facet_counts.facet_intervals;
        },
        body: function  () {
            return this.$store.state.facetresponse.body;
        },
        scatterresponsebody: function  () {
            return this.$store.state.scatterresponse.body;
        },
        queryurl: function () {
            return this.$store.state.queryurl;
        },
        countfieldlist: function () {
            return ["count_gap_l", "count_text_l",
                "count_lg_l", "count_l_l",
                "count_hi_l", "count_p_l", "count_pb_l",
                "count_w_l", "count_pc_l", "count_epigraph_l",
                "count_sp_l", "count_speaker_l", "count_stage_l",
                "count_date_l", "count_head_l", "count_group_l",
                "count_list_l", "count_front_l", "count_back_l",
                "count_body_l", "count_div_l", "count_salute_l",
                "count_dateline_l", "count_opener_l", "count_closer_l",
                "count_trailer_l"];
        }
    },
    methods: {
        simplepath: function() {
            let path = window.location.protocol + "//" + window.location.host + window.location.pathname + "simple";
            if (this.$store.state.route.query.q) {
                path += "?q=" + encodeURI(this.$store.state.route.query.q);
            }
            return path;
        },
        toggle: function(block) {
            this.show[block] = !this.show[block];
        },
        getFacets: function () {
            this.$store.dispatch("getFacets", "");
        },
        chunk: function(seq) {return _.chunk(seq, 2);},
        alphasort: function(pairs) {
            let cmp = function(a, b) {
                if (a[0] < b[0]) { return -1; }
                if (a[0] === b[0]) { return 0; }
                if (a[0] >[0]) { return 1; }

            };
            return pairs.sort(cmp);
        },
        tabclick: function(tabname) {
            this.tab = tabname;
            if (tabname == "scatter") {
                this.$store.commit("setCountFacets", true);
            } else {
                this.$store.commit("setCountFacets", false);
            }
        }
    },
    mounted(){
        this.getFacets();
    },

    components: { Facet, 
                  // BarChart, 
                  Results, 
                  AuthorFilter,
                  TitleFilter, 
                  DateSpanFilter,
                  OrigFilter, RegFilter,
                  LemmaFilter, TextSearch, Snippets,
                  QueryState, Paginator,
                  DocCount,
                  Overview,
                  TcpidFilter,
                  // SortSelector,
                  Export,
                  ScatterCounts}
};
</script>
<style>
#app {
   text-align: left;
}
div.response {
    display: flex;
}
.queryurl {
    font-size: 8pt;
}
.facetsandfilters {
    z-index: 1;
}
.open {
    cursor: pointer;
    background: #F8F8F8;
    border: 2px solid #F0F0F0;
    box-shadow: 1px 1px 3px #C0C040;
    padding: 0px 5px 20px;
    margin-bottom: 2px;
}
.closed {
    cursor: pointer;
    background: #F8F8F8;
    border: 2px solid #F0F0F0;
    box-shadow: 1px 1px 3px #888888;
    text-shadow: 3px 3px 5px #D0D0D0;
    padding: 0px 5px 0px;
    margin-bottom: 2px;
}
.closed:hover {
    text-shadow: 3px 3px 5px #B0B0B0;
}

.tabset {
    display: flex;
    flex-direction: column;
}
.tabset nav {
    display: flex;
    width: 100%;
}
.tabset nav label {
    display: inline-block;
    padding: 0.5em 1em;
    background: #A0A0A0;
    border-bottom: 1px solid #80808080;
    border-right: 2px solid  #E0E0E088;
}
.tabset nav label.selected {
    background: #E0E0E0;
    border-bottom: 1px solid #80808080;
    border-right: 2px solid  #80808080;
}
.snippetmsg {
    margin: 1em;
    opacity: 0.8;
    font-style: italic;
}
h1 {
   margin: 0;
}
h1 span {
    font-size: 80%;
    font-style: italic;
}

h2 {
    margin: 5px 0 10px;
    justify-content: space-between;
    display: flex;
}
h2 span.expander {
    width: 20px;
    color: #808080;
}
.textfilters {
    width: 270px;
}
.explain {
    font-size: 10pt;
    font-style: italic;
    margin: 10px 0;
}
.explain p {
    margin: 0.25em;
}
.paginatesort {
    display: flex;
}

</style>
