
<template>
  <div class="dash">
    <notes></notes>
  </div>
</template>

<script>
// @ is an alias to /src
import Notes from "@/components/Notes.vue";

export default {
    name: "dash-orig",
    components: {
        Notes
    }
};
</script>
<style>
#app {
   text-align: left;
}
</style>
