<template>
   <div class="inventory">
     <h1>Inventory</h1>
     <p>This matches an index of TCP identifiers (such as "A00002") against another index of such identifiers harvested from the Git repository of MorphAdorned XML. "Unmatched" means that there is a TCP text that is likely not to be found in the Annotation Module (although there may be some discrepancies between this index and the actual Annotation Module; this is an exploratory and unperfected project review tool).</p>
     <table>
       <tr>
         <th></th>
         <th>Phase 1</th>
         <th>Phase 2</th>
         <th>Total</th>
       </tr>
       <tr>
         <td>Matched</td>
         <td>{{counts.matched.phase1.toLocaleString()}}</td>
         <td>{{counts.matched.phase2.toLocaleString()}}</td>
         <td>{{(counts.matched.phase1 + counts.matched.phase2).toLocaleString()}}</td>
       </tr>
       <tr>
         <td>Unmatched</td>
         <td class="phase1unmatched">{{counts.unmatched.phase1.toLocaleString()}}</td>
         <td>{{counts.unmatched.phase2.toLocaleString()}}</td>
         <td>{{(counts.unmatched.phase1 + counts.unmatched.phase2).toLocaleString()}}</td>
       </tr>
       <tr>
         <td>Total</td>
         <td>{{(counts.matched.phase1 + counts.unmatched.phase1).toLocaleString()}}</td>
         <td>{{(counts.matched.phase2 + counts.unmatched.phase2).toLocaleString()}}</td>
         <td>{{(counts.matched.phase1 + counts.matched.phase2 + 
           counts.unmatched.phase1 + counts.unmatched.phase2).toLocaleString()}}</td>
       </tr>
     </table>
     <div class="urls">
       <div><b>Matched: </b> <a v-bind:href="matched_url">{{matched_url}}</a></div>

       <div><b>Unmatched: </b><a v-bind:href="unmatched_url">{{unmatched_url}}</a></div>
     </div>

     <h2>Phase I: {{unmatchedphase1.length.toLocaleString()}} unmatched</h2>

     <div v-for="doc in unmatchedphase1" v-bind:key="doc.docid" class="unmatched">
       <div><span class="docid">{{doc.id}}</span> <span>{{doc.tsourcetitle_txt[doc.tsourcetitle_txt.length - 1]}}</span></div>
     </div>

   </div>
</template>
<script>
/* global _ */

export default {
    name: "inventory",
    data () {
        return {
            counts: {
                matched: {
                    phase1: "?",
                    phase2: "?"
                },
                unmatched: {
                    phase1: "?",
                    phase2: "?"
                }
            },
            unmatchedphase1: [],
            errormsg: ""
        };
    },
    computed: {
        matched_url: function () {
            return "/solr_t_register/select?fl=id,tsourcetitle_txt,tphase_s&fq={!join from=tcpid_s to=id fromIndex=register}id:*&q=*:*&rows=10&facet=on&facet.field=tphase_s";
        },
        unmatched_url: function () {
            return "/solr_t_register/select?fl=id,tsourcetitle_txt,tphase_s&fq=-{!join from=tcpid_s to=id fromIndex=register}id:*&q=*:*&facet=on&facet.field=tphase_s";
        },
    },
    methods: {
        getMatched: function () {
            this.$http.get(encodeURI(this.matched_url)).then(
                response => {
                    if (response.ok) {
                        let tphase = _.fromPairs(
                            _.chunk(
                                response.body.facet_counts.facet_fields.tphase_s,
                                2));
                        this.counts.matched.phase1 = tphase["phase 1"];
                        this.counts.matched.phase2 = tphase["phase 2"];
                    } else {
                        this.errormsg = "error getting matched";
                    }
                });
        },
        getUnmatched: function () {
            this.$http.get(encodeURI(this.unmatched_url)).then(
                response => {
                    if (response.ok) {
                        let tphase = _.fromPairs(
                            _.chunk(
                                response.body.facet_counts.facet_fields.tphase_s,
                                2));
                        this.counts.unmatched.phase1 = tphase["phase 1"];
                        this.counts.unmatched.phase2 = tphase["phase 2"];
                    } else {
                        this.errormsg = "error getting unmatched";
                    }
                });
        },
        getUnmatchedPhase1: function () {
            let url = this.unmatched_url + "&rows=10000&fq=tphase_s:\"phase 1\"";
            this.$http.get(encodeURI(url)).then(
                response => {
                    if (response.ok) {
                        this.unmatchedphase1 = response.body.response.docs;
                    } else {
                        this.errormsg = "error getting unmatched phase 1";
                    }
                });
        }
    },
    beforeMount() {
        this.getMatched();
        this.getUnmatched();
        this.getUnmatchedPhase1();
    }
};
</script>
<style>
.inventory {
    margin: 1em;
    max-width: 1000px;
}
table {
    border: 1px solid #888888;
}
table, tr, th, td {
   margin: 0;
   padding: 0;
}
td, th {
    height: 2em;
    border: 1px solid #CCCCCC;
    margin: 0;
    padding: 0 20px;
}
.urls {
    margin: 1em;
    line-height: 1.3em;
    opacity: 0.5;
}

.unmatched div {
    text-indent: -5em;
    margin-left: 5em;
}
.docid {
    font-weight: bold;
    margin-right: 1em;
}
.phase1unmatched {
    background: #CCFFCC;
}
</style>
