<template>
   <div class="inventory">
     <h1>Inventory of split files</h1>
     <div class="urls">
       <p><a :href="split_url">{{split_url}}</a></p>
     </div>

     <table>
       <tr v-for="doc in docs" v-bind:key="doc.id">
         <td>{{doc.tcpid_s}}</td>
         <td>{{doc.eptitle_txt[0]}}</td>
         <td>{{doc.id}}</td>
         <td>{{doc.sourcetitle_txt[0]}}</td>
       </tr>
     </table>

   </div>
</template>
<script>

export default {
    name: "inventory",
    data () {
        return {
            docs: [],
            error: ""
        };
    },
    computed: {
        split_url: function () {
            return "/solr_register/select?fl=id,tcpid_s,sourcetitle_txt,eptitle_txt&fq=id:*_*&q=*:*&rows=150&sort=tcpid_s asc,id asc";
        },
    },
    methods: {
        getSplit: function () {
            this.$http.get(encodeURI(this.split_url)).then(
                response => {
                    if (response.ok) {
                        this.docs = response.body.response.docs;
                    } else {
                        this.error = "error getting matched";
                    }
                });
        },
    },
    beforeMount() {
        this.getSplit();
    }
};
</script>
<style>
.inventory {
    margin: 1em;
    max-width: 1200px;
}
.urls {
    margin: 1em;
    line-height: 1.3em;
    opacity: 0.5;
}
table {
    border-collapse: collapse;
}
table td {
    text-align: left;
}
.phase1unmatched {
    background: #CCFFCC;
}
</style>
