<template>
   <div class="inventory">
     <h1>Inventory of split files</h1>
     <div class="urls">
       <p>{{docs}}</p>
     </div>

   </div>
</template>
<script>
/* global _ */

export default {
    name: "inventory",
    data () {
        return {
            docs: []
        };
    },
    computed: {
        split_url: function () {
            return "http://localhost:8983/solr/register/select?fl=id,tcpid_s,sourcetitle_txt,eptitle_txt&fq=id:*_*&q=*:*&rows=150&sort=tcpid_s%20asc,id%20asc";
        },
    },
    methods: {
        getSplit: function () {
            this.$http.get(encodeURI(this.split_url)).then(
                response => {
                    if (response.ok) {
                        this.docs = response.body.response.docs;
                    } else {
                        console.log("error getting matched");
                    }
                });
        },
    },
    beforeMount() {
        this.getSplit();
    }
};
</script>
<style>
.inventory {
    margin: 1em;
    max-width: 1000px;
}
.urls {
    margin: 1em;
    line-height: 1.3em;
    opacity: 0.5;
}

.unmatched div {
    text-indent: -5em;
    margin-left: 5em;
}
.docid {
    font-weight: bold;
    margin-right: 1em;
}
.phase1unmatched {
    background: #CCFFCC;
}
</style>
