<template>
  <div class="inventories">
    <h1>Inventories</h1>
    <p>Some search and index purposes are motivated more by internal
    project purposes, although the same data and tools can be put to
    use, and the boundary is often not a sharp one.</p>
    <p>Here is an <a href="inventory">inventory</a> of TCP Phase I
    documents that are not yet in the Git repository (insofar as this
    index is caught up).</p>
    <p>Here is a <a href="inventorysplit">list of split drama
    files</a> from the SHC project. </p>
  </div>
</template>
<script>
export default {
    name: "inventories"

};

</script>
<style>
.inventories {
   margin: 1em;
   max-width: 800px;
}
</style>
