<template>
<div id="authorfilter">
  <div>Author Filter</div>
  <div>
    <input id="authfilter" 
           type="text"
           @input="input"
           list="suggestionlist"
           @change="change"/>
    <datalist id="suggestionlist" :data-sl="suggestions.length">
      <option v-for="suggestion in suggestions" 
              v-bind:key="suggestion.term"
              v-html="suggestion.term"
              :value="cleanTerm(suggestion.term)"/>
    </datalist>
  </div>
</div>
</template>
<script>
import _ from "lodash";
export default {
    name: "AuthorFilter2",
    data () {
        return {
            filterterm: "",
            suggestions: []
        };
    },
    computed: {
        basesuggest: function () {
            return `${this.$store.state.base}suggest`;
        },
        suggesturl: function () {
            let url = `${this.$store.state.base}suggest` + 
                "?suggest.dictionary=authorSuggester" +
                "&suggest.count=30" + `&suggest.q=${this.filterterm}`;
            return url;
        }
    },
    methods: {
        input: function (event) {
            let filterterm = event.target.value;
            this.filterterm = filterterm;
            if (event.inputType==="insertReplacementText") {
                // CLICKED on dropdown option
                this.change();
            } else {
                // just typing, refine search
                this.getSuggestions(filterterm);
            }
        },
        change: function() {
            let filterterm = this.filterterm;
            this.$store.commit("addQueryFilter", ["sourceauthor_txt", filterterm]);
            this.$store.dispatch("getFacets");
            document.getElementById("authfilter").value = "";
            this.filterterm = "";
        },
        cleanTerm: function(val) {
            return val.replace(/<\/?b>/g, "");
        },
        getSuggestions: function (filterterm) {
            let url = `${this.$store.state.base}suggest` + 
                "?suggest.dictionary=authorSuggester" +
                "&suggest.count=30&suggest.q=" + filterterm;
            this.$http.get(url).then(
                response => {
                    if (response.ok) {
                        let suggestions = response.body.suggest
                            .authorSuggester[filterterm].suggestions;
                        suggestions = suggestions = _.uniqBy(suggestions, "term");
                        suggestions = _.sortBy(suggestions, "term");
                        this.suggestions = suggestions;
                    } else {
                        this.filterterm = filterterm;
                        console.log("ERROR" , response);
                    }
                }
            );
        }
    }
};
</script>
<style scoped>
#authorfilter {
    font-size: 10pt;
    position: relative;
}
#authorfilter:focus-within .suggestionlist {
    display: block;
    background: #F0F0F0;
    transition: all 1.5s ease-out;
}
#authorfilter div {
    font-size: 8pt;
}
#authorfilter input {
    width: 100%;
}
</style>
