<template>
<div class="authorfilter">
  <div>Author Filter</div>
  <autocomplete
    ref="autocomplete"
    v-bind:url="basesuggest"
    anchor="authortxt"
    label="count"
    param="suggest.q"
    id="authorinput"
    :customParams="{'suggest.dictionary': 'authorSuggester',
                   'suggest.count': '15'}"
    :min="3"
    :onShouldRenderChild="renderChild"
    :process="process"
    :ignoreCase="true"
    :debounce="10"
    :filterByAnchor="false"
    :onSelect="getSelection"
    :onBlur="getDataBlur"
>
  </autocomplete>
</div>
</template>
<script>

/* global _ */

require("vue2-autocomplete-js/dist/style/vue2-autocomplete.css");
import Autocomplete from "vue2-autocomplete-js";

let dropbold = function(termstring) {
    return termstring.replace(/<\/?b>/g, "");
};


export default {
    name: "AuthorFilter",
    data () {
        return {
            sourceauthor_txtfilter: ""
        };
    },
    computed: {
        basesuggest: function () {
            return `${this.$store.state.base}suggest`;
        },
        termparam: function () {
            return (this.use_regex) ?  "terms.regex" :  "terms.prefix";
        }
    },
    methods: {
        process: function(d) {
            let key = Object.keys(d.suggest.authorSuggester)[0];
            let suggestions = d.suggest.authorSuggester[key]["suggestions"];
            let objs = _.uniqBy(suggestions, v => v["term"]);
            // console.log("objs: ", objs);
            objs = _.sortBy(objs, v => v["term"]);
            objs.forEach(v => v["termtxt"] = dropbold(v["term"]));
            return objs;
        },
        renderChild: function(d) {
            return d["term"]; // this is HTML with <b></b>
        },
        getSelection: function(d) {
            // let val = dropbold(d["srcElement"]["value"]);
            // this.$store.commit("addQueryFilter", ["sourceauthor_txt", d["termtxt"]]);
            let val = document.getElementById("authorinput").value;
            this.$store.commit("addQueryFilter", ["sourceauthor_txt", val]);
            this.$store.dispatch("getFacets");

        },
        getDataBlur: function(d) {
            let val = dropbold(d["srcElement"]["value"]);
            this.$store.commit("addQueryFilter", ["sourceauthor_txt", val]);
            this.$store.dispatch("getFacets");
            this.$refs.autocomplete.setValue("");
        }
    },
    components: { Autocomplete}
};
</script>
<style>
.authorfilter {
    font-size: 9pt;
    margin-top: 0.5em;
}
.autocomplete-input {
    width: 100%;
}
.autocomplete ul {
    border: 1px solid #E0E0E0;
    box-shadow: 2px 2px 2px #C0C0C0;
    color: #606060;
    margin: 0;
}
.autocomplete ul li a {
    display: inline-block;
    font-size: 8pt;
    padding: 0px 5px;
    overflow: visible;
    color: #606060;
}
.autocomplete ul li a span.autocomplete-anchor-label {
    display: inline-block;
    padding-left: 10px;
}
.autocomplete ul li.focus-list a {
    background: #F8F8F8;
    color: #404040;
}
</style>
