<template>
<div id="authorfilter">
  <div>Author Filter</div>
  <div>
    <input id="authfilter" v-model="filterterm" 
           @input="input"
           @change="change"
           autocomplete="off"
           v-on:keyup.down="down"
           v-on:keyup.up="up"
           />
  </div>
  <ul class="suggestionlist" id="authorsuggestionlist"
      :class="{scrollable: (suggestions.length > 0)}">
    <li v-for="(suggestion, i) in suggestions" v-bind:key="suggestion.term"
        v-on:click="clicked(i)"
        :id="'authorelt_' + i"
        :class="{selected: i==s_index}"
        v-html="suggestion.term" />
  </ul>
</div>
</template>
<script>
import _ from "lodash";
export default {
    name: "AuthorFilter",
    data () {
        return {
            filterterm: "",
            suggestions: [],
            s_index: -1
        };
    },
    computed: {
        basesuggest: function () {
            return `${this.$store.state.base}suggest`;
        },
        suggesturl: function () {
            let url = `${this.$store.state.base}suggest` + 
                "?suggest.dictionary=authorSuggester" +
                "&suggest.count=30" + `&suggest.q=${this.filterterm}`;
            return url;
        }
    },
    methods: {
        down: function() {
            let i = Math.min(this.s_index + 1, this.suggestions.length - 1);
            this.s_index = i;
            let elt = document.getElementById("authorelt_" + i);
            document.getElementById("authorsuggestionlist").scrollTop = 
                elt.offsetTop - 20;
        },
        up: function() {
            let i = Math.max(-1, this.s_index - 1);
            this.s_index = i;
            let elt = document.getElementById("authorelt_" + Math.max(i, 0));
            document.getElementById("authorsuggestionlist").scrollTop = 
                elt.offsetTop - 20;
        },
        clicked: function(i) {
            let elt = document.getElementById("authorelt_" + i);
            this.filterterm = elt.textContent;
            this.change();
        },
        input: function (event) {
            let filterterm = event.target.value;
            this.filterterm = filterterm;
            if (event.inputType==="insertReplacementText") {
                // CLICKED on dropdown option
                this.change();
            } else {
                // just typing, refine search
                this.getSuggestions(filterterm);
            }
        },
        change: function() {
            if (this.s_index >=0) {
                let elt = document.getElementById("authorelt_" + this.s_index);
                this.filterterm = elt.textContent;
            } 
            let filterterm = this.filterterm;
            this.$store.commit("addQueryFilter", ["sourceauthor_txt", filterterm]);
            this.$store.dispatch("getFacets");
            document.getElementById("authfilter").value = "";
            this.s_index = -1;
            this.filterterm = "";
            this.suggestions = [];
            document.getElementById("authorsuggestionlist").scrollTop = 0;
        },
        cleanTerm: function(val) {
            return val.replace(/<\/?b>/g, "");
        },
        getSuggestions: function (filterterm) {
            let url = `${this.$store.state.base}suggest` + 
                "?suggest.dictionary=authorSuggester" +
                "&suggest.count=30&suggest.q=" + filterterm;
            this.$http.get(url).then(
                response => {
                    if (response.ok) {
                        let suggestions = response.body.suggest
                            .authorSuggester[filterterm].suggestions;
                        suggestions = suggestions = _.uniqBy(suggestions, "term");
                        suggestions = _.sortBy(suggestions, "term");
                        this.suggestions = suggestions;
                        document.getElementById("authorsuggestionlist").scrollTop = 0;
                    } else {
                        console.log(response);
                    }
                }
            );
        }
    }
};
</script>
<style scoped>
#authorfilter {
    font-size: 10pt;
    position: relative;
}
#authorfilter:focus-within .suggestionlist {
    display: block;
    background: #F0F0F0;
    transition: all 1.5s ease-out;
}
#authorfilter div {
    font-size: 8pt;
    font-weight: bold;
}
#authorfilter input {
    width: 95%;
}
.suggestionlist {
    font-family: sans-serif;
    font-size: 8pt;
    line-height: 120%;
    list-style-type: none;
    position: absolute;
    border: 1px solid #E0E0E0;
    box-shadow: 2px 2px 2px #C0C0C0;
    color: #606060;
    transition: all 0.5s ease-out;
    background: #F8F8F8;
    z-index: 5;
    max-height: 400px;
}
.scrollable{
    overflow: scroll;
}
.suggestionlist li {
    border-bottom: 1px solid #E0E0E0;
    padding: 2px 5px;
    margin: 2px 0;
    display: block;
}
.suggestionlist li.selected {
    background: #CCCCFF;
}
</style>
