<template>
  <div class="barchart">
    <svg :width="width" :height="height"
         v-on:mousedown="mousedown"
         v-on:mouseup="mouseup"
         v-on:mousemove="mousemove"
         >
      <title>{{label}}</title>
      <g class="labels">
      </g>
      <g class="refbar">
        <rect v-for="yr in yearrange" v-bind:key="yr"
              :x="scalex(yr)"
              :y="0"
              :height="height"
              :width="0.3"
              ></rect>
      </g>
      <g class="refbar50">
        <text v-for="yr in year50range" v-bind:key="yr + '2'"
              :x="scalex(yr)" :y="10"
              font-size="11"
              opacity="0.5"
              fill="#882200"
              :transform="yearlabeltransform(yr)"
              >{{yr}}</text> 
        <rect v-for="yr in year50range" v-bind:key="yr + '1'"
              :x="scalex(yr)"
              :y="0"
              :height="height"
              :width="0.8"
              ></rect>
      </g>
      <g class="bar">
        <rect v-for="pair in data" v-bind:key="pair[0]"
              :x="scalex(parseInt(pair[0]))"
              :y="height - (scalecount(pair[1]) * height)"
              :width="1.5"
              :height="scalecount(pair[1])*height"></rect>
      </g>
      <g class="overlay" v-if="startdrag && currentdrag">
        <rect :x="scalex(startdrag)"
              :y="0"
              :width="scalex(currentdrag) - scalex(startdrag)"
              :height="height"
              />
      </g>
    </svg>
</div>
</template>

<script>
/* global _ */
// import VueLodash from "vue-lodash";

export default {
    name: "BarChart",
    data () {
        return {
            height: 70,
            width: 250,
            startyear: 1470,
            endyear: 1702,
            startdrag: undefined,
            currentdrag: undefined
        };
    },
    computed: {
        maxcount: function () {
            return _.max(_.map(this.data, 1));
        },
        yearrange: function () {
            return _.range(1470, 1710, 10);
        },
        year50range: function () {
            let rng = _.range(1500, 1710, 50);
            return rng;
        }
    },
    methods: {
        scalecount: function(c) {
            return 0.9*c/this.maxcount;
        },
        scalex: function(yr) {
            return this.width * (yr - this.startyear)/(this.endyear - this.startyear);
        },
        x_to_year: function(x) {
            return x * (this.endyear - this.startyear)/this.width + this.startyear;
        },
        yearlabeltransform: function(yr) {
            let t = `rotate(-90, ${this.scalex(yr)}, 10) translate(-15)`;
            return t;
        },
        mousedown: function(evt) {
            let offsetx = evt.target.getBoundingClientRect().x;
            if (evt.target.tagName==="rect") {
                offsetx = evt.target.farthestViewportElement.getBoundingClientRect().x;
            }
            let year = parseInt(this.x_to_year(evt.clientX - offsetx));
            this.startdrag = year;
            this.currentdrag = undefined;
        },
        mousemove: function(evt) {
            let offsetx = evt.target.getBoundingClientRect().x;
            if (evt.target.tagName==="rect") {
                offsetx = evt.target.farthestViewportElement
                    .getBoundingClientRect().x;
            }
            let year = parseInt(this.x_to_year(evt.clientX - offsetx));
            if (year > this.startdrag) {
                this.currentdrag = year;
            } else {
                this.startdrag = undefined;
                this.currentdrag = undefined;
            }
        },
        mouseup: function(evt) {
            let offsetx = evt.target.getBoundingClientRect().x;
            if (evt.target.tagName==="rect") {
                offsetx = evt.target.farthestViewportElement
                    .getBoundingClientRect().x;
            }
            let to = parseInt(this.x_to_year(evt.clientX - offsetx));
            let from = this.startdrag;
            this.$emit("request-span", from, to);
            this.startdrag = undefined;
            this.currentdrag = undefined;
        }
    },
    props: ["label", "data"]
};
</script>

<style>
.barchart {
  background: #FFFFFF;
}
svg {
    background: #F8F8F8;
    margin-top: 15px;
}
svg rect {
    fill: #0060F0;
    opacity: 0.5;
    width: 2
}
svg .overlay rect {
    fill: #CCCC00;
    opacity: 0.3;
}
svg .refbar rect {
    fill: #B0B0B0;
}
svg .refbar50 rect {
    fill: #B0B0B0;
}
svg .refbar50, svg .refbar {
    pointer-events: none;
    user-select: none;
}

</style>
