<template>
  <div>
    <h1>Compare 2 (orig)</h1>
    <div>
      <b>{{id1}}</b> ({{docsize[id1] && docsize[id1].toLocaleString()}} tokens) 
      <b>{{id2}}</b> ({{docsize[id2] && docsize[id2].toLocaleString()}} tokens) 
    </div>

    <div class="sidebyside">
      <div class="doc1">
        <h3>Just <a v-bind:href="'../doc/' + id1">{{id1}}</a> </h3>
        <div class="title">{{docs[id1] && docs[id1]['eptitle_txt'][0]}}</div>
        <div class="listlength">{{partition[id1] && partition[id1].length}} types</div>
        <div v-for="t in partition[id1]" v-bind:key="t['t']">{{t['t']}} {{t['tf']}}</div>
      </div>
      <div class="intersection">
        <h3>Both documents</h3>
        <div class="listlength">{{partition['intersection'] && 
          partition["intersection"].length}} types
          <span class="sortdirection" v-on:click="togglelldirection">
            <template v-if="lldirection == 1"> sort &nbsp; &lt; </template>
            <template v-else> sort &nbsp; &gt; </template>
          </span>
        </div>
        <table>
          <thead>
            <tr>
            <td>term</td>
            <td>&lt; # </td>
            <td># &gt;</td>
            <td>llhd</td>
            <td>df</td>
            </tr>
          </thead>
          <tbody>
        <tr v-for="t in _.sortBy(partition['intersection'], v => v['ll'] * lldirection)" 
             v-bind:key="t['t']">
          <td>{{t.t}}</td>
          <td>{{t.tf0}}</td>
          <td>{{t.tf1}}</td>
          <td>{{t.ll.toFixed(3)}}</td>
          <td>{{t.df}}</td>
        </tr>
        </tbody>
        </table>
      </div>
      <div class="doc2">
        <h3>Just <a v-bind:href="'../doc/' + id2">{{id2}}</a> </h3>
        <div class="title">{{docs[id2] && docs[id2]['eptitle_txt'][0]}}</div>
        <div class="listlength">{{partition[id2] && partition[id2].length}} types</div>
        <div v-for="t in partition[id2]" v-bind:key="t['t']">{{t['t']}} {{t['tf']}}</div>
      </div>
      </div>
  </div>
</template>
<script>
/* global _ */

let compute_docsize = function(tvecs) {
    if (tvecs) {
        return _.sum(_.map(tvecs, "tf"));
    } else {
        return 0;
    }
};

let generate_lexicon = function(tvecs) {
    let pairs = _.toPairs(tvecs);
    return _.fromPairs(_.map(
        pairs, 
        pair =>
            [pair[0], _.mapValues(
                _.keyBy(pair[1], "t"), 
                v => _.omit(v, "t"))]));
};

let annotate_tfidf = function(tvecs) {
    let dockeys = _.keys(tvecs);
    let N = _.max(_.map(
        tvecs[dockeys[0]], 
        "df"));
    console.log(N);
    let a1 = _.map(
        tvecs[dockeys[0]], 
        v => _.set(v, "idf", Math.log(N/v["df"])));
    console.log(a1[0]);
    return tvecs;
};


let filter_tvecs = function(tvecs, termlist) {
    let subset = _.filter(tvecs, v => termlist.includes(v["t"]));
    let sorted = _.sortBy(subset, v => -v["tf"]);
    return sorted;
};

let intersect_tvecs = function(tvecs, termlist, docsize) {
    let custommerge = function(objval, srcval) {
        return _.assign(objval, {"tf2": objval["tf0"] + srcval["tf1"],
                                 "tf1": srcval["tf1"]});
    };
    let keys = _.keys(tvecs);
    let l0 = _.filter(tvecs[keys[0]], v => termlist.includes(v["t"]));
    let l00 = _.map(l0, v => {
        v["tf0"] = v["tf"];
        return v;
    });
    let l1 = _.filter(tvecs[keys[1]], v => termlist.includes(v["t"]));
    let l11 = _.map(l1, v => {
        v["tf1"] = v["tf"];
        return v;
    });
    let m = _.mergeWith(l00, l11, custommerge);
    let mm = _.map(m, v => {
        let a = v["tf0"];
        let b = v["tf1"];
        let c = docsize[keys[0]];
        let d = docsize[keys[1]];
        let E1 = c*(a+b) / (c+d);
        let E2 = d*(a+b) / (c+d);
        let G2 = 2 * ((a * Math.log (a/E1)) + (b * Math.log(b/E2)));
        if (a/c < b/d) {
            v["ll"] = G2;
        } else {
            v["ll"] = -G2;
        }
        return v;
    });
    let sorted = _.sortBy(mm, v => v["ll"]);
    return sorted;
};

let generate_partition = function(tvecs, docsize) {
    let [id1, id2] = _.keys(tvecs);
    let set1 = _.map(tvecs[id1], "t");
    let set2 = _.map(tvecs[id2], "t");
    let partition = {
        "intersection": intersect_tvecs(tvecs, _.intersection(set1, set2), docsize)
    };
    partition[id1] = filter_tvecs(tvecs[id1], _.difference(set1, set2));
    partition[id2] = filter_tvecs(tvecs[id2], _.difference(set2, set1));
    return partition;
};

export default {
    name: "compare2",
    data () {
        return {
            lldirection: 1,
            tvecs: {},
            lexicon: {},
            partition: {},
            docsize: {},
            subsets: {
                intersection: []
            },
            docs: []
        };
    },
    computed: {
        id1: function () {
            return this.$route.params.id1;
        },
        id2: function () {
            return this.$route.params.id2;
        },
        url: function () {
            let base = this.$store.state.base;
            return `${base}tvrh?q=id:${this.id1} or id:${this.id2}&tv.fl=orig&tv.tf=true&tv=true&tv.df=true&rows=2&fl=id,eptitle_txt`;
        }
    },
    methods: {
        getResponse: function () {
            let chunkmap = function (vals) {
                let ch = _.chunk(vals, 2);
                let rv = 
                    _.map(ch, v => _.assign(
                        _.fromPairs(_.chunk(v[1], 2)),
                        {"t": v[0]}));
                return rv;
            };
            this.$http.get(this.url).then(
                response => {
                    if (response.ok) {
                        this.docs = _.keyBy(response.body.response.docs, "id");
                        let tv = _.fromPairs(
                            _.chunk(
                                response.body.termVectors, 2));
                        let tvecs = {};
                        tvecs[this.id1] = chunkmap(tv[this.id1][3]);
                        tvecs[this.id2] = chunkmap(tv[this.id2][3]);
                        this.tvecs = annotate_tfidf(tvecs);
                        this.docsize[this.id1] = compute_docsize(tvecs[this.id1]);
                        this.docsize[this.id2] = compute_docsize(tvecs[this.id2]);
                        this.lexicon = generate_lexicon(tvecs);
                        this.partition = generate_partition(tvecs, this.docsize);
                    } else {
                        console.log(response);
                    }
                }
            );
        },
        togglelldirection: function () {
            this.lldirection = this.lldirection * -1;
        }
    },
    beforeMount() {
        this.getResponse();
    }
};

</script>
<style>
div.sidebyside {
   display: flex;
}
h3 {
   margin: 1em 0 0;
}
.intersection {
    margin: 0 4em 0 2em;
}
.listlength {
   margin: 0 0 1em;
   display: flex;
   justify-content: space-between;
}
.sortdirection:hover {
    color: #CCCCFF;
}
.sortdirection {
    background: #444444;
    text-align: right;
    font-weight: bold;
    font-size: 14pt;
    color: #FFFFFF;
    padding: 0.1em 1em;
    border-radius: 0.5em;
    line-height: 1em;
    margin: 0 2em 0 0;
}
table {
    text-align: right;
}
table td {
    padding: 0 4px;
}
thead {
    background: #444444;
    color: #FFFFFF;
}
thead td {
    text-align: center;
}
.doc1, .doc2 {
    max-width: 300px;
}
.doc1 .title, .doc2 .title {
    font-style: italic;
    line-height: 1em;
    font-size: 10pt;
    height: 3em;
    overflow: hidden;
}
</style>
