<template>
  <div class="datespanfilter">
    <div class="filterlabel">Date-span Filter</div>
    <div class="inputs">
      From
      <input id="year_from" 
             v-model="from"
             type="number" min="1473" max="1709" step="1"
             v-on:input="setToMin()"
             v-on:change="setFilter()"
             /> to 
      <input id="year_to" 
             v-model="to"
             type="number" v-bind:min="from" max="1709" step="1"
             v-on:change="setFilter()"
             />
    </div>
    <bar-chart label="year"
               :data="alphasort(chunk(facets.eppublicationYear_txt))"
               v-on:request-span="requestSpan"
               >
    </bar-chart>

  </div>
</template>
<script>
import _ from "lodash";
import BarChart from "@/components/BarChart.vue";

export default {
    name: "DateSpanFilter",
    data () {
        return {
            from: undefined,
            to: undefined
        };
    },
    computed: {
        routefrom: function () {
            return this.$store.state.route.query && 
                this.$store.state.route.query["from"];
        },
        routeto: function () {
            return this.$store.state.route.query && 
                this.$store.state.route.query["to"];
        },
        has_facetresponse: function () {
            return "body" in this.$store.state.facetresponse;
        },
        facets: function () {
            return this.has_facetresponse && 
                this.$store.state.facetresponse.body &&
                this.$store.state.facetresponse.body.facet_counts &&
                this.$store.state.facetresponse.body.facet_counts.facet_fields;
        }
    },
    methods: {
        setToMin() {
            if (!this.from) {
                this.to = undefined;
            }
            if (this.to < this.from) {
                this.to = this.from;
            }
        },
        setIfChanged(priorfrom, priorto, from, to) {
            let changed = false;
            if (priorfrom && priorfrom !== from) {
                changed = true;
                this.$store.commit("removeQueryFilter", ["from", priorfrom]);
            }
            if (from && priorfrom !== from) {
                changed = true;
                this.$store.commit("addQueryFilter", ["from", from]);
            }
            if (priorto && priorto !== to) {
                changed = true;
                this.$store.commit("removeQueryFilter", ["to", priorto]);
            }
            if (to && priorto !== to) {
                changed = true;
                this.$store.commit("addQueryFilter", ["to", to]);
            }
            if (changed) {
                this.$store.dispatch("getFacets");
                this.$store.dispatch("getScatter");
            }
            return changed;
        },
        setFilter() {
            if (this.from < 1473 || this.from > 1709) {
                this.from = undefined;
                this.to = undefined;
            }
            if (this.to < 1473 || this.to > 1709) {
                this.to = undefined;
            }
            let qry = this.$store.state.route.query;
            let priorfrom = qry["from"];
            let priorto = qry["to"];
            this.setIfChanged(
                priorfrom, priorto, this.from, this.to);
        },
        setFromRoute() {
            let qry = this.$store.state.route.query;
            let from = qry["from"];
            let to = qry["to"];
            if (from===undefined) {
                to === undefined;
                this.from = from;
                this.to = to;
                return;
            } 
            let priorfrom = this.from;
            let priorto = this.to;
            let changed = this.setIfChanged(
                priorfrom, priorto, from, to);
            if (changed) {
                this.from = qry["from"];
                this.to = qry["to"];
            }
        },
        requestSpan(from, to) {
            if (from && to) {
                this.from = from;
                this.to = to;
                this.setFilter();
            }
        },
        routeChanged() {
            this.setFromRoute();
        },
        chunk: function(seq) {
            return _.chunk(seq, 2);},
        alphasort: function(pairs) {
            let cmp = function(a, b) {
                if (a[0] < b[0]) { return -1; }
                if (a[0] === b[0]) { return 0; }
                if (a[0] >[0]) { return 1; }

            };
            return pairs.sort(cmp);
        }
    },
    mounted(){
        this.setFromRoute();
    },
    watch: {
        "$route": "routeChanged"
    },
    components: {BarChart}
};


</script>
<style>
.datespanfilter {
    font-size: 9pt;
    margin: 0.5em 0 0 0;
    background: #0070A0;
    color: #FFFFFF;
    
}
.datespanfilter .filterlabel {
    background: #442200;
    color: #FFFFFF;
    padding: 3px 20px 3px 5px;
    margin-bottom: 3px;
    font-weight: bold;
}
.inputs {
    display: flex;
    padding: 0 5px;
}
.datespanfilter .inputs input {
    width: 5em;
    margin: 0 10px 5px 10px;
}
</style>
