<template>
  <div>
    <div class="idline">
      <div v-if="response.eppublicationYear_txt">
        ({{response.eppublicationYear_txt[0]}})</div>
      <div class="docid">TCP # {{docid.replace(".xml", "")}}</div>

    </div>
    <div v-if="response.hasOwnProperty('id')">
      <div class="summary">
        <div class="authortitle">
          <div class="author">{{response.sourceauthor_txt && response.sourceauthor_txt[0]}}</div>
          <div class="title">{{response.sourcetitle_txt && response.sourcetitle_txt[0]}}</div>
        </div>
        <div class="pubstmt">
          <span>{{response.sourcepubPlace_txt && 
            response.sourcepubPlace_txt[0]}}</span>
          <span> {{response.sourcepublisher_txt && 
            response.sourcepublisher_txt[0]}}</span>
          <span> {{response.sourcedate_txt && 
            response.sourcedate_txt[0]}}</span>
        </div>
        <div class="notes">
          <ul>
            <li v-for="note in response.sourcenotes_txt" v-bind:key="note">
              {{note}}
            </li>
          </ul>
        </div>
      </div>
      
      <div class="links">
        <div>Read or correct in the <a v-bind:href="`https://texts.earlyprint.org/works/${docid}`">EarlyPrint Library</a>.</div>
        <div>Look for similar texts in the <a v-bind:href="discovery_url">Discovery Engine</a>.</div>
        <div>View the <a target="_blank" v-bind:href="xml_url">project XML</a>.</div>
        <div>Browse the <a href="../../catalog">Catalog</a>.</div>
        <div>Download <a href="https://earlyprint.org/download">Metadata</a>.</div>

      </div>
      <div class="tabset">
        <nav>
          <label for="meta_table" :class="tab=='meta_table'?'selected':''"
                 v-on:click="tabclick('meta_table')">Metadata</label>
          <label for="scatter_reg" :class="tab=='scatter_reg'?'selected':''"
                 v-on:click="tabclick('scatter_reg')">Scatter terms (reg)</label>
          <label for="scatter_orig" :class="tab=='scatter_orig'?'selected':''"
                 v-on:click="tabclick('scatter_orig')">Scatter terms (orig)</label>
          <label for="scatter_lemma" :class="tab=='scatter_lemma'?'selected':''"
                 v-on:click="tabclick('scatter_lemma')">Scatter terms (lemma)</label>
        </nav>
        
        <div v-if="tab=='meta_table'" id="meta_table" class="tab_docs">
          <table id="meta">
            <tr>
              <th></th>
              <th>General metadata</th>
            </tr>
            <tr>
              <td>phase</td><td>{{response.phase_s}}</td>
            </tr>
            <tr>
              <td>lang</td>
              <td>{{response.lang_s}}</td>
            </tr>
            <tr>
              <td>words</td>
              <td>{{response.epwordCount_l.toLocaleString(useGrouping=true)}}</td>
            </tr>
            <tr>
              <td>sourceextent</td>
              <td>
                <div v-for="extent in response.sourceextent_txt" v-bind:key="extent">{{extent}}</div></td>
            </tr>
            <tr>
              <td>subjectterms</td>
              <td><div v-for="term in response.subjectterms_txt" v-bind:key="term">{{term}}</div></td>
            </tr>
            
            <tr>
              <td>subjectterms</td>
              <td><div v-for="term in response.subjectterms_txt" v-bind:key="term">{{term}}</div></td>
            </tr>
            
            <tr>
              <td>subjectformgenre</td>
              <td><div v-for="term in response.subjectformgenre_s" v-bind:key="term">{{term}}</div></td>
            </tr>
            

            <tr>
              <td>finalGrade</td>
              <td>{{response.epfinalGrade_s}}</td>
            </tr>
            <tr v-if="response.epdefectiveTokenCount_l > 0">
              <td>defective token count</td>
              <td>{{response.epdefectiveTokenCount_l}}</td>
            </tr>
            <tr v-if="response.epdefectRate_f > 0">
              <td>defectRate</td>
              <td>{{response.epdefectRate_f}}</td>
            </tr>
            <tr v-if="response.epuntranscribedMusicCount_l > 0">
              <td>untranscribed music</td>
              <td>{{response.epuntranscribedMusicCount_l}}</td>
            </tr>
            <tr v-if="response.epuntranscribedMathCount_l > 0">
              <td>untranscribed math</td>
              <td>{{response.epuntranscribedMathCount_l}}</td>
            </tr>
            <tr v-if="response.epuntranscribedForeignCount_l > 0">
              <td>untranscribed foreign</td>
              <td>{{response.epuntranscribedForeignCount_l}}</td>
            </tr>
            <tr v-if="response.epmissingChunkCount_l > 0">
              <td>missing chunk count</td>
              <td>{{response.epmissingChunkCount_l}}</td>
            </tr>
            <tr v-if="response.epmissingPagesCount_l > 0">
              <td>missing pages count</td>
              <td>{{response.epmissingPagesCount_l}}</td>
            </tr>
            <tr v-if="response.proquest_s > ''">
              <td>proquest_s</td>
              <td v-if="response.proquest_s">
                <a :href="'http://gateway.proquest.com/openurl?ctx_ver=Z39.88-2003&res_id=xri:eebo&rft_id=xri:eebo:citation:' + response.proquest_s">
                  
                  {{response.proquest_s}}</a>
              </td>
            </tr>
            <!-- <tr> -->
            <!--   <td>proquestvid_s</td> -->
            <!--   <td>{{response.proquestvid_s}}</td> -->
            <!-- </tr> -->
            <tr>
              <td>stc_ss</td>
              <td>
                <div v-for="stc in response.stc_ss" v-bind:key="stc">{{stc}}</div></td>
            </tr>
            <tr v-if="response.sourceauthor_txt">
              <td>sourceauthor</td>
              <td>
                <div v-for="(author, i) in response.sourceauthor_txt" v-bind:key="i">{{author}}</div>
              </td>
            </tr>
            <tr>
              <td>epauthor</td>
              <td>
                <div v-for="(author, i) in response.epauthor_txt" v-bind:key="i">{{author}}</div>
              </td>
            </tr>
            <tr>
              <td>filetitle</td>
              <td class="title">
                <div v-for="title in response.filetitle_txt" v-bind:key="title">{{title}}</div></td>
            </tr>
            <tr v-if="(response.sourcetitle_txt && response.sourcetitle_txt.length === 1) && (response.sourcetitle_txt[1] !== response.filetitle_txt[1])">
              <td>sourcetitle</td>
              <td class="title">{{response.sourcetitle_txt}}</td>
            </tr>
            <tr>
              <td>eptitle</td><td>
                <div v-for="title in response.eptitle_txt" 
                     class="title"
                     v-bind:key="title">{{title}}</div>
              </td>
            </tr>
            <tr>
              <td>sourcepubPlace</td>
              <td>
                <div v-for="pubPlace in response.sourcepubPlace_txt" v-bind:key="pubPlace">{{pubPlace}}</div>
              </td>
            </tr>
            <tr>
              <td>sourcepublisher</td>
              <td><div v-for="publisher in response.sourcepublisher_txt" v-bind:key="publisher">{{publisher}}</div></td>
            </tr>
            <tr>
              <td>sourcedate</td>
              <td>
                <div v-for="date in response.sourcedate_txt" v-bind:key="date">{{date}}</div></td>
            </tr>
            <tr>
              <td>eppublicationYear_txt</td>
              <td><div v-for="date in response.eppublicationYear_txt" v-bind:key="date">{{date}}</div></td>
            </tr>
            <tr>
              <td>sourcenotes</td>
              <td>
                <ul>
                  <li v-for="note in response.sourcenotes_txt" v-bind:key="note">
                    {{note}}
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>corpus</td><td>{{response.epcorpus_s}}</td>
            </tr>
          </table>
          
          <table id="counts">
            <tr>
              <th>TEI element counts</th>
              <th></th>
            </tr>
            <tr v-for="count in counts" v-bind:key="count[0]">
              <td><span class="bracket">&lt;</span>{{count[0].replace(/_l$/, "").replace("_", " ").replace("count ", "")}}<span class="bracket">&gt;</span></td>
              <td>{{count[1].toLocaleString(useGrouping=true)}}</td>
            </tr>
          </table>
        </div>

        <div v-if="tab=='scatter_reg'" class="tab_docs">
          <tvrh v-bind:rawvecs="tvecs['reg']" v-bind:numdocs="25000" label="reg" />
        </div>
        <div v-if="tab=='scatter_orig'" class="tab_docs">
          <tvrh v-bind:rawvecs="tvecs['orig']" v-bind:numdocs="25000" label="orig" />
        </div>
        <div v-if="tab=='scatter_lemma'" class="tab_docs">
          <tvrh v-bind:rawvecs="tvecs['lemma']" v-bind:numdocs="25000" label="lemma" />
        </div>

      </div>
    </div>
    <div v-else>
      <div v-if="response.hasOwnProperty('searching')" 
           class="notfound">Searching... </div>
      <div v-else class="notfound">Document not found.</div>
    </div>
  </div>
</template>
<script>
/* global _ */

import Tvrh from "./Tvrh.vue";

export default {
    name: "Doc",
    data () {
        return {
            tab: "meta_table",
            response: {"searching":true},
            moreLikeThis: {"orig": {}},
            tvecs: {"orig": []}
        };
    },
    computed: {
        docid: function () {
            return this.$route.params.id;
        },
        surl: function () {
            let url = this.makeurl("lemma");
            return url;
        },
        discovery_url: function() {
            let tcpid = this.docid.replace(".xml", "");
            let url = "https://earlyprint.org/lab/tool_discovery_engine.html" + 
                `?which_to_do=find_texts&eebo_tcp_id=${tcpid}` + 
                "&n_results=35&tfidf_weight=6&mallet_weight=6&tag_weight=6";
            return url;
        },
        xml_url: function () {
            let folder = this.docid.slice(0, 3);
            let url = `https://bitbucket.org/eplib/${folder}/raw/master/${this.docid}`;
            return url;
        },
        counts: function(){
            let clist =  Object.entries(this.response).filter(
                v => v[0].startsWith("count"));
            clist = clist.sort((a, b) => a[0] < b[0]).sort((a, b) => b[1] - a[1]);
            return clist;
        }
    },
    methods: {
        tabclick: function(tabname) {
            this.tab = tabname;
        },
        makeurl: function(vectorfield) {
            const fields = [
                "count_*", "ep*", "*_s", "*_ss", "*_l", "id",
                "source*", "subj*", "*title_txt"];
            const fieldlist = _.join(fields, ",");
            const base = this.$store.state.base;
            const url = base + "tvrh?q=*:*" + 
                  `&fq=id:${this.docid}&mlt=true&mlt.fl=${vectorfield}` + 
                  "&mlt.count=10" +
                  `&tv.fl=${vectorfield}&tv.tf=true&tv=true&tv.df=true` + 
                  "&fl=" + fieldlist;
            return url;
        },
        getResponse: function (vectorfield) {
            let url = this.makeurl(vectorfield);
            this.$http.get(url).then(
                response => {
                    if (response.ok && response.body.response.numFound > 0) {
                        this.response = response.body.response.docs[0];
                        this.moreLikeThis[vectorfield] = response.body.moreLikeThis[this.docid].docs;
                        this.tvecs[vectorfield] = response.body.termVectors[1][3];
                    } else {
                        this.response = response.body.response;
                    }
                }
            );
        }
    },
    components: { Tvrh },
    beforeMount() {
        this.getResponse("orig");
        this.getResponse("reg");
        this.getResponse("lemma");
    }

};


</script>
<style>
#meta_table {
   display: flex;
   flex-wrap: wrap;
   line-height: 110%;
   margin: .5em 0;
}
.summary {
    margin: 0 0 1em 0;
    font-size: 10pt;
}
.authortitle {
    font-size: 16pt;
}
.author {
    font-weight: bold;
}
.pubstmt {
}
.notes {
    margin: 0.5em
}
.notes ul {
    list-style-type: none;
}
table {
   max-width: 700px;
   text-align: left;
}
tr {
   min-width: 200px;
   vertical-align: top;
}
td, th {
    padding: 0 0.5em;
    border: 0;
    height: 1.3em;
}
tr td:first-child {
    font-size: 10pt;
    padding-right: 1em;
}
#meta {
    border: 0;
}
#meta tr td:nth-child(1) {
    text-align: right;
}
#counts tr td:nth-child(2) {
    text-align: right;
}
td ul {
    padding: 0 0  1em;
    margin: 0;
}
.title {
    /* font-style: italic; */
}
.mlt {
    margin: 0 0 0 2em;
}
.refurl {
    opacity: 0.5;
}
#counts {
    table-layout: fixed;
    font-family: mono;
}
.bracket {
    color: #C0C0C0;
}
.links {
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 10pt;
    background: #F0F0F0;
}
.links div {
    margin: 0 1em 0 0;
    display: inline-block;
    padding: 5px 10px;
    color: #404040;
}
.notfound {
    margin: 3em;
    padding: 1em;
    font-size: 18pt;
    border: 1px solid gray;
    display: inline-block;
}
.idline {
    display: flex;
}
.docid {
    font-weight: normal;
    font-size: 8pt;
    background: #444444;
    color: #FFFFFF;
    display: inline-block;
    height: 1.7em;
    vertical-align: bottom;
    padding: 2px 5px;
    margin: auto 1em ;
    border-radius: 5px ;
}
</style>


