<template>
  <div>
    <h1>{{docid}}</h1>
    <div><b>{{response.sourceauthor_txt && response.sourceauthor_txt[0]}}</b>
      <i>{{response.sourcetitle_txt && response.sourcetitle_txt[0]}}</i>
    </div>
    <div class="refurl"><a v-bind:href="surl">{{surl}}</a>
    </div>
    <div class="tables">
      <table class="counts">
        <tr v-for="count in counts" v-bind:key="count[0]">
          <td>{{count[0].replace(/_l$/, "").replace("_", " ").replace("count ", "")}}</td>
          <td>{{count[1].toLocaleString(useGrouping=true)}}</td>
        </tr>
      </table>
      <table>
      <tr>
        <td>phase</td><td>{{response.phase_s}}</td>
      </tr>
      <tr>
        <td>corpus</td><td>{{response.epcorpus_s}}</td>
      </tr>
      <tr>
        <td>lang</td>
        <td>{{response.lang_s}}</td>
      </tr>
      <tr>
        <td>words</td>
        <td>{{response.epwordCount_l}}</td>
      </tr>
      <tr v-if="response.sourceauthor_txt">
        <td>sourceauthor</td>
        <td class="author">
          <div v-for="(author, i) in response.sourceauthor_txt" v-bind:key="i">{{author}}</div>
        </td>
      </tr>
      <tr>
        <td>epauthor</td>
        <td class="author">
          <div v-for="(author, i) in response.epauthor_txt" v-bind:key="i">{{author}}</div>
        </td>
      </tr>
      <tr>
        <td>filetitle</td>
        <td class="title">
          <div v-for="title in response.filetitle_txt" v-bind:key="title">{{title}}</div></td>
      </tr>
      <tr v-if="(response.sourcetitle_txt && response.sourcetitle_txt.length === 1) && (response.sourcetitle_txt[1] !== response.filetitle_txt[1])">
        <td>sourcetitle</td><td>{{response.sourcetitle_txt}}</td>
      </tr>
      <tr>
        <td>eptitle</td><td>
          <div v-for="title in response.eptitle_txt" v-bind:key="title">{{title}}</div>
        </td>
      </tr>
      <tr>
        <td>sourcepubPlace</td>
        <td>
          <div v-for="pubPlace in response.sourcepubPlace_txt" v-bind:key="pubPlace">{{pubPlace}}</div>
        </td>
      </tr>
      <tr>
        <td>sourcepublisher</td>
        <td><div v-for="publisher in response.sourcepublisher_txt" v-bind:key="publisher">{{publisher}}</div></td>
      </tr>
      <tr>
        <td>sourceextent</td>
        <td>
          <div v-for="extent in response.sourceextent_txt" v-bind:key="extent">{{extent}}</div></td>
      </tr>
      <tr>
        <td>sourcedate</td>
        <td>
          <div v-for="date in response.sourcedate_txt" v-bind:key="date">{{date}}</div></td>
      </tr>
      <tr>
        <td>eppublicationYear_txt</td>
          <td><div v-for="date in response.eppublicationYear_txt" v-bind:key="date">{{date}}</div></td>
      </tr>
      <tr>
        <td>subjectterms</td>
          <td><div v-for="term in response.subjectterms_txt" v-bind:key="term">{{term}}</div></td>
      </tr>
      <tr>
        <td>sourcenotes</td>
        <td>
          <ul>
            <li v-for="note in response.sourcenotes_txt" v-bind:key="note">
              {{note}}
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>finalGrade</td>
        <td>{{response.epfinalGrade_s}}</td>
      </tr>
      <tr>
        <td>defective token count</td>
        <td>{{response.epdefectiveTokenCount_l}}</td>
      </tr>
      <tr>
        <td>defectRate</td>
        <td>{{response.epdefectRate_f}}</td>
      </tr>
      <tr>
        <td>untranscribed music</td>
        <td>{{response.epuntranscribedMusicCount_l}}</td>
      </tr>
      <tr>
        <td>untranscribed math</td>
        <td>{{response.epuntranscribedMathCount_l}}</td>
      </tr>
      <tr>
        <td>untranscribed foreign</td>
        <td>{{response.epuntranscribedForeignCount_l}}</td>
      </tr>
      <tr>
        <td>missing chunk count</td>
        <td>{{response.epmissingChunkCount_l}}</td>
      </tr>
      <tr>
        <td>missing pages count</td>
        <td>{{response.epmissingPagesCount_l}}</td>
      </tr>
      <tr>
        <td>proquest_s</td>
        <td v-if="response.proquest_s">
          <a :href="'http://gateway.proquest.com/openurl?ctx_ver=Z39.88-2003&res_id=xri:eebo&rft_id=xri:eebo:citation:' + response.proquest_s">

          {{response.proquest_s}}</a>
        </td>
      </tr>
      <tr>
        <td>proquestvid_s</td>
        <td>{{response.proquestvid_s}}</td>
      </tr>
      <tr>
        <td>stc_ss</td>
        <td>
          <div v-for="stc in response.stc_ss" v-bind:key="stc">{{stc}}</div></td>
      </tr>
      </table>

      <mlt v-bind:mlt="moreLikeThis['lemma']" label="lemma" 
           v-bind:referer="docid"/>
      <mlt v-bind:mlt="moreLikeThis['reg']" label="reg" 
           v-bind:referer="docid"/>
      <mlt v-bind:mlt="moreLikeThis['orig']" label="orig"
           v-bind:referer="docid"/>

    </div>

    <tvrh v-bind:rawvecs="tvecs['orig']" v-bind:numdocs="25000" label="orig" />
    <tvrh v-bind:rawvecs="tvecs['lemma']" v-bind:numdocs="25000" label="lemma" />

  </div>
</template>
<script>
/* global _ */

import Mlt from "./Mlt.vue";
import Tvrh from "./Tvrh.vue";

export default {
    name: "Doc",
    data () {
        return {
            response: {},
            moreLikeThis: {"orig": {}},
            tvecs: {"orig": []}
        };
    },
    computed: {
        docid: function () {
            return this.$route.params.id;
        },
        surl: function () {
            let url = this.makeurl("lemma");
            return url;
            
        },
        counts: function(){
            let clist =  Object.entries(this.response).filter(
                v => v[0].startsWith("count"));
            clist = clist.sort((a, b) => a[0] < b[0]).sort((a, b) => b[1] - a[1]);
            return clist;
        }
    },
    methods: {
        makeurl: function(vectorfield) {
            const fields = [
                "count_*", "ep*", "*_s", "*_ss", "*_l", "id",
                "source*", "subj*", "*title_txt"];
            const fieldlist = _.join(fields, ",");
            const base = this.$store.state.base;
            const url = base + "tvrh?q=*:*" + 
                  `&fq=id:${this.docid}&mlt=true&mlt.fl=${vectorfield}` + 
                  "&mlt.count=10" +
                  `&tv.fl=${vectorfield}&tv.tf=true&tv=true&tv.df=true` + 
                  "&fl=" + fieldlist;
            return url;
        },
        getResponse: function (vectorfield) {
            let url = this.makeurl(vectorfield);
            this.$http.get(url).then(
                response => {
                    if (response.ok) {
                        this.response = response.body.response.docs[0];
                        this.moreLikeThis[vectorfield] = response.body.moreLikeThis[this.docid].docs;
                        this.tvecs[vectorfield] = response.body.termVectors[1][3];
                    } else {
                        console.log(response);
                    }
                }
            );
        }
    },
    components: { Mlt, Tvrh },
    beforeMount() {
        this.getResponse("orig");
        this.getResponse("reg");
        this.getResponse("lemma");
    }

};


</script>
<style>
div.tables {
   display: flex;
   line-height: 105%;
   margin: 1em 0;

}

table {
   max-width: 600px;
   text-align: left;
}
tr {
   min-width: 200px;
   vertical-align: top;
}
tr td {
    padding: 0 0.5em;
}
tr td:first-child {
    /* text-align: right; */
}
.counts tr td:nth-child(2) {
    /* text-align: right; */
}
td ul {
    padding: 0 0 0 1em;
    margin: 0;
}
.author {
    font-weight: bold;
}
.title {
    font-style: italic;
}
.mlt {
    margin: 0 0 0 2em;
}
.refurl {
    opacity: 0.5;
}
</style>
