<template>
<div class="doccount">
  <p v-if="hasResponse">
    <span v-if="numFound < 2">
      <span v-if="numFound === 0">No documents found.</span>
      <span v-if="numFound === 1">1 document found.</span>
    </span>
    <span v-else>
      {{numFound.toLocaleString(useGrouping=true)}} documents found.
    </span>
  </p>
  <p v-else class="warning">Cannot connect to search index.</p>

</div>
</template>
<script>
export default {
    name: "DocCount",
    data () {
        return {};
    },
    computed: {
        hasResponse: function () {
            return this.$store.state && 
                this.$store.state.facetresponse &&
                this.$store.state.facetresponse.body &&
                this.$store.state.facetresponse.body.response && 
                this.$store.state.facetresponse.body.response.numFound && 
                this.$store.state.facetresponse.body.response.numFound.toLocaleString();

        },
        numFound: function () {
            if (this.hasResponse) {
                return this.$store.state.facetresponse.body.response.numFound.toLocaleString();
            } else {
                return 0;
            }
        }
    },
    methods: {
        setQueryFirst: function(first) {
            this.$store.commit("setQueryFirst", first);
            this.$store.dispatch("getFacets");
        },
        pluralize: function(word, number) {
            if (number == 1) {
                return word;
            } else {
                return word + "s";
            } 
        }
        
    }
};
</script>
<style>
.doccount {
   font-size: 9pt;
   padding: 0 1em 0 1.5em;
   margin: 0.5em 1em 0 0;
}
.doccount button {
    margin-left: 1em;

}
.warning {
    font-size: 16pt;
    padding: 1em;
    color: #008800;
}
</style>
