<template>
  <div id="export">

    <button v-on:click="getdata">Download CSV list of selections</button>
    <a id="downloadlink">Download</a>

    <p>This may take a while or run into difficulties if you are selecting thousands of records.</p>
    <p>You may also try an <a href="https://earlyprint.org/download/">alternate</a> interface to download basic metadata.</p>
    
  </div>
</template>
<script>

export default {
    name: "export",
    data () {
        return {
        };
    },
    computed: {
        docs: function () {
            let exportset = this.$store.state.exportset;
            return (exportset && exportset.body && exportset.body.response) && 
                exportset.body.response.docs || [];
        },
        fields: function () {
            return [ 
                "tcpid_s", "sourcetitle_txt", "sourceauthor_txt", 
                "date_when_l", 
                "date_notBefore_l", "date_notAfter_l", 
                "date_cert_s", "date_text_s",
                "count_div_l", "count_pb_l", "count_p_l", "count_w_l", 
                "count_lg_l", "count_l_l",  "count_trailer_l", "count_back_l" ];
        }
    },
    watch: {
        docs (v) {
            if (v && this.docs.length > 0) {
                // window.open(this.downloadhref(), "_blank");
                let d = document.getElementById("downloadlink");
                if (d) {
                    d.href = this.downloadhref();
                    d.target = "_blank";
                    d.download = "earlyprintselections.csv";
                    d.click();
                    this.$store.commit("updateExportSet", "");
                } 
            }
        }
    },
    methods: {
        getdata: function() {
            this.$store.dispatch("getExportSet", [] );
        },
        downloaddata: function() {
            let docs = this.docs;
            let fields = this.fields;
            let labels = this.fields.map(v => v.replace(/_[^_]+$/, ""));
            let csvstr = labels.join("\t") + "\n";
            for (let i in docs) {
                for (let j in fields) {
                    let field = docs[i][fields[j]];
                    if (field) {
                        csvstr += field;
                    }
                    if (j < fields.length) {
                        csvstr += "\t";
                    }
                }
                csvstr += "\n";
            }
            return csvstr;
        },
        downloadhref: function() {
            let csvstr = this.downloaddata();
            return "data:text/csv;charset=utf-8," + encodeURI(csvstr);
        }
    }
    
};

</script>
<style>
#export {
   margin: 40px;
}
#downloadlink {
    visibility: hidden;
}
button {
    margin: 0 0 1em 0;
}
</style>
