<template>
  <div class="facet">
    <div class="label">{{label}}
      <div class="expander" v-on:click="toggleExpand">
        <span v-if="expanded">–</span>
        <span v-else>+</span>
      </div>
    </div>
    <ul v-bind:class="{expanded : expanded}">
      <li v-bind:class="{filtered: selections.indexOf('epuntranscribedMusicCount_l')>=0}">
        <div class="val">
          <a v-on:click="toggleSelection('epuntranscribedMusicCount_l')"
            href="#">untr. music</a></div>
        <div class="count">{{facetcounts.epuntranscribedMusicCount_l['(0,*]']}}</div>
      </li>
      <li v-bind:class="{filtered: selections.indexOf('epuntranscribedForeignCount_l')>=0}">
        <div class="val">
          <a v-on:click="toggleSelection('epuntranscribedForeignCount_l')"
             href="#">untr. foreign</a></div>
        <div class="count">{{facetcounts.epuntranscribedForeignCount_l['(0,*]']}}</div>
      </li>
      <li v-bind:class="{filtered: selections.indexOf('epuntranscribedMathCount_l')>=0}">
        <div class="val">
          <a v-on:click="toggleSelection('epuntranscribedMathCount_l')"
             href="#">untr. math</a></div>
        <div class="count">{{facetcounts.epuntranscribedMathCount_l['(0,*]']}}</div>
      </li>
      <li v-bind:class="{filtered: selections.indexOf('epmissingPagesCount_l')>=0}">
        <div class="val">
          <a v-on:click="toggleSelection('epmissingPagesCount_l')"
             href="#">miss. pages</a></div>
        <div class="count">{{facetcounts.epmissingPagesCount_l['(0,*]']}}</div>
      </li>
      <li v-bind:class="{filtered: selections.indexOf('epmissingChunkCount_l')>=0}">
        <div class="val">
          <a v-on:click="toggleSelection('epmissingChunkCount_l')"
             href="#">miss. chunk</a></div>
        <div class="count">{{facetcounts.epmissingChunkCount_l['(0,*]']}}</div>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
    name: "facet-interval-p",
    data () { 
        return { 
            selections: [], 
            expanded: false
        }; 
    }, 
    methods: {
        toggleExpand: function() {
            this.expanded = !this.expanded; 
        },
        toggleSelection: function(field) { 
            console.log(field);
            if (this.selections.includes(field)) {
                this.selections = this.selections.filter(
                    v => v !== field);
                this.removeNZFilter(field); 
            } else {
                this.selections.push(field);
                this.addNZFilter(field); 
            } 
        }, 
        addNZFilter: function(field) {
            this.$store.commit("addQueryNonzeroFilter", field);
            this.$store.dispatch("getFacets");
        },
        removeNZFilter: function(field) {
            this.$store.commit("removeQueryNonzeroFilter", field);
            this.$store.dispatch("getFacets");
        }
    },
    props: [ "label" , "facetcounts"]
};
</script>
<style scoped>
.facet {
   text-align: left;
   padding: 0;
   margin: 10px 0;
   background: #DDDDDD;
   max-width: 200px;
}
.facet .label {
    font-weight: bold;
    background: #444444;
    color: #CCCCCC;
    padding: 2px 5px;
    margin: 0 0 2px 0;
    display: flex;
    justify-content: space-between;
}
.facet .label .expander {
    font-weight: bold;
    cursor: pointer;
}
.facet ul {
    list-style-type: none;
    padding: 0 5px;
    margin: 0;
    height: 2px;
    overflow: hidden;
}
.facet ul.expanded {
    height: 100%;
}
.facet li {
    display: flex;
    font-size: 8pt;
    justify-content: space-between;
}
.facet li .filtered {
    background: #F0F0F0;
    padding: 0px 5px 0px 0px  ;
}

.facet .val {
    /* margin: 0 1em 0 0; */
}
.facet .count {
    margin: 0 1em 0 0;
    text-align: right;
    min-width: 4em;
}

</style>
