<template>
<div class="facet">
  <div class="label"  v-on:click="toggleExpand">{{label}}
    <div class="expander">
      <span v-if="expanded">–</span>
      <span v-else>+</span>
    </div>
  </div>
  
  <div class="scrollblock" v-bind:class="{expanded : expanded}">
    <ul>
      <input v-model="labelsearch" class="labelmatch" 
             placeholder="filter list"/>
      <div class="sortchoice">
        <span v-bind:class="{active: sortbyindex}"
              title="sort by label (ascending)"
              v-on:click="toggleSortByIndex()"
              >▲</span>
        <span v-bind:class="{active: !sortbyindex}"
              title="sort by count (descending)"
              v-on:click="toggleSortByIndex()"
              >▼</span>
      </div>
      <li v-for="pair in filteredfacetmap" v-bind:key="pair && pair[0] || -1"
          v-on:click="addToQueryFilter(pair)"
          v-bind:class="{filtered: filtered(pair)}">
        <div class="facetval">
          <a href="#">{{pair && pair[0]}}</a></div>
        <div class="count">{{pair && pair[1]}} </div>
        <div class="bar" 
             v-bind:style="`width: ${scalecount(pair && pair[1] || 0)}px;`">
        </div>
      </li>
    </ul>
  </div>

</div>
</template>

<script> 
  
export default { 
    name: "facet", 
    data () { 
        return { 
            labelsearch: "",
            selected: false, 
            expanded: this.setExpand,
            inqueryfilter: [],
            sortbyindex: false
        }; 
    }, 
    computed: {
        filteredfacetmap: function() {
            let ffm = this.facetmap.filter(
                x => x[0].toLocaleLowerCase()
                    .search(this.labelsearch.toLocaleLowerCase()) >= 0);
            if (this.sortbyindex) {
                return ffm;
            } else {
                return ffm.sort((a, b) => parseInt(b[1]) - parseInt(a[1]));
            }
        },
        maxvalue: function() {
            let ffm = this.filteredfacetmap;
            if (ffm) {
                return Math.max(...ffm.map(v => v[1]));          
            } else {
                return 0;
            }
        }
    },
    methods: {
        toggleSelection: function(pair) { 
            this.selected = !this.selected; 
            if (this.selected) {
                this.addToQueryFilter(pair); 
            } else {
                this.removeFromQueryFilter(pair); 
            } 
        },
        scalecount: function(count) {
            if (count) {
                let scaled = Math.round((count / this.maxvalue) * 225);
                return scaled;
            } else {
                return 0;
            }
        }, 
        filtered: function(pair) {
            return pair && this.inqueryfilter.indexOf(pair[0])>=0;
        },
        toggleExpand: function() {
            this.expanded = !this.expanded; 
        },
        addToQueryFilter: function(pair) {
            this.selected = true; 
            this.inqueryfilter = this.inqueryfilter.concat(pair[0]);
            this.$store.commit("addQueryFilter", [this.field, pair[0]]); 
            this.$store.dispatch("getFacets");
        }, 
        removeFromQueryFilter: function(pair) {
            this.selected = false; 
            this.inqueryfilter = this.inqueryfilter.filter(v => v != pair[0]);
            this.$store.commit("removeQueryFilter", [this.field, pair[0]]); 
            this.$store.dispatch("getFacets");
        },
        toggleSortByIndex: function() {
            this.sortbyindex = !this.sortbyindex;
        }
    }, 
    props: {
        "label" : String, 
        "field" : String, 
        "facetmap" : Array,
        "setExpand" : {
            type: Boolean,
            default: false
        } 
    }
};
</script>

<style scoped>
.facetval {
    z-index: 10;
    margin-left: 1em;
    text-indent: -1em;
}
.facetval a {
    text-decoration: none;
    color: #202020;
}
li:hover {
    background: #C0C0C0;
}
.facet {
   text-align: left;
   padding: 0;
   margin: 10px 0;
   background: #DDDDDD;
   width: 250px;
}
.facet .label {
    font-weight: bold;
    background: #444444;
    color: #CCCCCC;
    padding: 2px 5px;
    margin: 0 0 2px 0;
    display: flex;
    justify-content: space-between;
}
.facet .label .expander {
    font-weight: bold;
    cursor: pointer;
}
.facet ul {
    list-style-type: none;
    padding: 0 5px;
    margin: 0;
}
.facet .scrollblock {
    height: 2px;
    overflow: hidden;
}
.facet .scrollblock.expanded {
    min-height: 150px;
    padding-bottom: 5px;
    overflow-y: scroll;
}
.facet li {
    display: flex;
    position: relative;
    width: 225px;
    font-size: 8pt;
    margin: 2px 0;
    justify-content: space-between;
}
.facet  .scrollblock.expanded li .bar {
    position: absolute;
    top: 0;
    left: 0;
    background: darkcyan;
    height: 1.1em;
    opacity: 0.5;
}
/*
.facet li.filtered {
    font-weight: bold;
    padding: 2px 5px ;
}
*/
.facet .count {
    margin: 0 0 0 0.5em;
    text-align: right;
    min-width: 1em;
    z-index: 10;
}
.sortchoice {
    font-size: 80%;
    margin-bottom: 0.5em;
    text-align: right;
}
input {
    width: 2em;
}
.sortchoice {
    margin: 2px auto 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sortchoice span {
    width: 3em;
    text-align: center;
    color: #808080;
}
.sortchoice span.active {
    color: #000000;
}
.labelmatch {
    width: 100%;
    font-size: 80%;
}
</style>
