<template>
  <div>
    <h1>Field {{fieldname}}</h1>
    <p>{{counts.slice(0,10)}}</p>
  </div>
</template>
<script>
/* global _ */

export default {
    name: "field",
    data () {
        return {
            counts: [],
        };
    },
    computed: {
        fieldname: function () {
            return this.$route.params.fieldname;
        }
    },
    methods: {
        makeurl: function () {
            let base = this.$store.state.base;
            return `${base}select?q=*:*&fl=${this.fieldname}&rows=100000&sort=${this.fieldname} desc`;
        },
        getResponse: function () {
            let url = this.makeurl();
            this.$http.get(url).then(
                response => {
                    if (response.ok) {
                        this.counts = _.map(_.values(response.body.response.docs), this.fieldname);
                    } else {
                        console.log(response);
                    }
                }
            );
        }
    },
    components: { 

    },
    beforeMount() {
        this.getResponse();
    }

};
</script>
<style>

</style>











