<template>
  <div id="legacy_selector">
    <label>Search:</label>
    <div>
      <span>
      <input type="radio" id="both" value="both" checked>
      <label for="both" title="Both 'legacy' and 'current' files.">Everything</label>
      </span>
      <span>
      <input type="radio" id="legacy" value="legacy">
      <label for="legacy" title="Mostly Phase II files that have been processed in the 2013 version of MorphAdorner without correction.">Legacy</label>      
      </span>
      <span>
      <input type="radio" id="current" value="current">
      <label for="current" title="Updated MorphAdorned files that can be found in the EP Library and are publicly available in XML. For now, mostly Phase I.">Current</label>
      </span>
    </div>
  </div>
</template>
<script>
export default {
    name: "legacy-selector"
};
</script>
<style>
#legacy_selector {
    font-size: 10pt;
    margin-bottom: 1em;
}
#legacy_selector label {
    margin-right: 1em;
}
</style>
