<template>
<div class="lemmafilter">
  <div class="controllabel">
    <div>Dictionary headword</div>
    <div>
      <label for="lemma_use_regex">regex</label>
      <input id="lemma_use_regex" type="checkbox" v-model="use_regex" />
    </div>
  </div>
  <autocomplete 
    v-bind:url="baseterms"
    anchor="lemma"
    label="count"
    :param="termparam"
    :customParams="{'terms.fl': 'lemma', 
                   'terms.limit': '20', 
                   'terms.sort': 'count'}"
    :min="3"
    :process="process"
    :on-select="getData"
    :onBlur="getDataBlur"
    >
  </autocomplete>
</div>
</template>
<script>
/* global _ */

require("vue2-autocomplete-js/dist/style/vue2-autocomplete.css");
import Autocomplete from "vue2-autocomplete-js";

export default {
    name: "LemmaFilter",
    data () {
        return {
            lemmafilter: "",
            use_regex: false,
        };
    },
    computed: {
        txtlength: function () {
            return this.lemmafilter.length;
        },
        baseterms: function () {
            return `${this.$store.state.base}terms`;
        },
        termparam: function () {
            return (this.use_regex) ?  "terms.regex" :  "terms.prefix";
        }
    },
    methods: {
        process: function(d) {
            let objs = _.map(_.chunk(d["terms"]["lemma"], 2), v => {
                return {
                    "lemma": v[0], "count": v[1]
                };
            });
            return objs;
        },
        getData: function(d) {
            this.$store.commit("addQueryFilter", ["lemma", d["lemma"]]);
            this.$store.dispatch("getFacets");
        },
        getDataBlur: function(d) {
            let val = d["srcElement"]["value"];
            this.$store.commit("addQueryFilter", ["lemma", val]);
            this.$store.dispatch("getFacets");
        }
    },
    components: { Autocomplete}
};
</script>
<style>
.controllabel {
    display: flex;
    justify-content: space-between;
}


.lemmafilter {
    margin-top: 0.5em;
}
label[for='lemma_use_regex'] {
  font-size: 8pt;
  margin: 0 1em 0 5em;
}
#lemma_use_regex {
    margin-left: 0em;
    width: 1em;
    display: inline-block;
}

.autocomplete ul li a {
    display: inline-block;
}
.autocomplete ul li a span.autocomplete-anchor-label {
    display: inline-block;
    padding-left: 10px;
}
</style>
