<template>
  <div class="mlt">
    <b><i>More like this:</i> (by {{label}})</b>
    <ul>
      <li v-for="doc in mlt" v-bind:key="doc.id">
        <a v-bind:href="doc.id">{{doc.id}}</a>&nbsp;
        <a v-bind:href="`../compare/${referer},${doc.id}`">[compare]</a>
        {{doc.eppublicationYear_txt && doc.eppublicationYear_txt[0]}}
        <span class="author">{{doc.sourceauthor_txt && 
          doc.sourceauthor_txt[0]}} </span>
        <span class="title">{{doc.filetitle_txt && doc.filetitle_txt[0]}} </span>
        {{doc.sourcepubPlace_txt && doc.sourcepubPlace_txt[0]}}
        {{doc.sourcepublisher_txt && doc.sourcepublisher_txt[0]}}
        {{doc.sourceextent_txt && doc.sourceextent_txt[0]}}
        </li>
    </ul>
    </div>
  </template>
<script>
export default {
    name: "mlt",
    props: [ "mlt", "label", "referer" ]
};
</script>
<style>
div.mlt {
   max-width: 50%;
   font-size: 10pt;
}
ul {
    padding: 0;
    margin: 0;
}
div.mlt li {
   padding: 1em 0;
}
</style>
