<template>
<div>
  <h1>MLT wrap</h1>
    <h1>{{docid}}</h1>
      <div class="meta">
        <div class="author" v-for="author in response.sourceauthor_txt" v-bind:key="author">{{author}}</div>
        <div class="title" v-for="title in response.filetitle_txt" v-bind:key="title">{{title}}</div>
        <div v-for="publisher in response.sourcepublisher_txt" v-bind:key="publisher">{{publisher}}</div>
        <div v-for="date in response.sourcedate_txt" v-bind:key="date">{{date}}</div>
      </div>

    <div class="tables">
        
      <mlt v-bind:mlt="moreLikeThis['lemma']" label="lemma" 
           v-bind:referer="docid"/>
      <mlt v-bind:mlt="moreLikeThis['orig']" label="orig"
           v-bind:referer="docid"/>
    </div>

</div>
</template>
<script>
/* global _ */

import Mlt from "./Mlt.vue";
export default {
    name: "mltwrap",
    data () {
        return {
            response: {},
            moreLikeThis: {"orig": {}},
            tvecs: {"orig": []}
        };
    },
    computed: {
        docid: function () {
            return this.$route.params.id;
        },
        surl: function () {
            let url = this.makeurl("lemma");
            return url;
            
        }
    },
    methods: {
        makeurl: function(vectorfield) {
            const fields = [
                "count_*", "ep*", "*_s", "*_ss", "*_l", "id",
                "source*", "subj*", "*title_txt"];
            const fieldlist = _.join(fields, ",");
            const url = "${this.$store.state.base}tvrh?q=*:*" + 
                  `&fq=id:${this.docid}&mlt=true&mlt.fl=${vectorfield}` + 
                  "&mlt.count=10" +
                  `&tv.fl=${vectorfield}&tv.tf=true&tv=true&tv.df=true` + 
                  "&fl=" + fieldlist;
            return url;
        },
        getResponse: function (vectorfield) {
            let url = this.makeurl(vectorfield);
            this.$http.get(url).then(
                response => {
                    if (response.ok) {
                        this.response = response.body.response.docs[0];
                        this.moreLikeThis[vectorfield] = response.body.moreLikeThis[this.docid].docs;
                        this.tvecs[vectorfield] = response.body.termVectors[1][3];
                    } else {
                        // console.log(response);
                    }
                }
            );
        }
    },
    beforeMount() {
        this.getResponse("orig");
        this.getResponse("lemma");
    },
    components: { Mlt }
};
</script>
<style>
.meta {
   max-width: 600px;
}

div.tables {
   display: flex;
   line-height: 105%;
   margin: 1em 0;
}
.author {
    font-weight: bold;
}
.title {
    font-style: italic;
}
.mlt {
    margin: 0 0 0 2em;
}
.refurl {
    opacity: 0.5;
}

</style>
