<template>
  <div>
    <h1>Filters and facets</h1>
    <div><a class="queryurl" v-bind:href="queryurl">{{queryurl}}</a></div>
     <div class="response"  v-if="has_facetresponse">
       <div class="facetsandfilters">
         <div class="textfilters">
           <author-filter/>
           <title-filter />
           <orig-filter />
           <lemma-filter />
           <text-search />
         </div>
         <div class="facets">
           <bar-chart label="year" 
                      :data="alphasort(chunk(facets.eppublicationYear_txt))"></bar-chart>
           <facet label="phase" field="phase_s" 
                  v-bind:facetmap="chunk(facets.phase_s)" />
           <facet label="lang" field="lang_s"
                  v-bind:facetmap="chunk(facets.lang_s)" />
           <facet label="grade" field="epfinalGrade_s"
                  v-bind:facetmap="chunk(facets.epfinalGrade_s)" />
           <facet label="year" field="eppublicationYear_txt"
                  v-bind:facetmap="chunk(facets.eppublicationYear_txt)" />
           <facet-interval-p label="untranscribed/missing" 
                  v-bind:facetcounts="facetintervals" />
         </div>
       </div>
       <results v-bind:body="body" />
       <snippets v-bind:results="body" v-if="can_have_highlights"/>
     </div>
  </div>
</template>
<script>
/* global _ */

import Facet from "./Facet.vue";
import FacetIntervalP from "./FacetIntervalP.vue";
import BarChart from "./BarChart.vue";
import Results from "./Results.vue";
import OrigFilter from "./OrigFilter.vue";
import LemmaFilter from "./LemmaFilter.vue";
import AuthorFilter from "./AuthorFilter.vue";
import TitleFilter from "./TitleFilter.vue";
import TextSearch from "./TextSearch.vue";
import Snippets from "./Snippets.vue";

export default {
    name: "Notes",
    data () {
        return {
            chartdata: {
                datacollection: {
                    labels: ["January", "February"],
                    datasets: [
                        {
                            label: "Data One",
                            backgroundColor: "#f87979",
                            data: [40, 20]
                        }
                    ]
                }
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        };
    },
    computed:  {
        has_facetresponse: function () {
            return "body" in this.$store.state.facetresponse;
        },
        can_have_highlights: function () {
            return this.$store.state.rout.query.q !== "";
        },
        facets: function () {
            return this.$store.state.facetresponse.body.facet_counts.facet_fields;
        },
        facetintervals: function () {
            return this.$store.state.facetresponse.body.facet_counts.facet_intervals;
        },
        body: function () {
            return this.$store.state.facetresponse.body;
        },
        queryurl: function () {
            return this.$store.state.queryurl;
        }
    },
    methods: {
        getFacets: function () {
            this.$store.dispatch("getFacets", "");
        },
        chunk: function(seq) {return _.chunk(seq, 2);},
        alphasort: function(pairs) {
            let cmp = function(a, b) {
                if (a[0] < b[0]) { return -1; }
                if (a[0] === b[0]) { return 0; }
                if (a[0] >[0]) { return 1; }

            };
            return pairs.sort(cmp);
        }
        
    },
    mounted(){
        this.getFacets();
    },
    components: { Facet, FacetIntervalP, BarChart, Results, 
                  AuthorFilter, OrigFilter, 
                  LemmaFilter, TitleFilter, TextSearch, Snippets }
};

</script>
<style scoped>
  div.response {
     display: flex;
  }
  .queryurl {
      color: #888888;
  }
  .textfilters {
      margin: 0 1em;
  }
  .origfilter, .titlefilter {
      display: block;
  }
  .textfilters input {
      width: 100%;
  }
</style>
