<template>
<div class="origfilter">
  <div class="controllabel">
    <div>Original spelling</div>
    <div>
      <label for="orig_use_regex">regex</label>
      <input id="orig_use_regex" type="checkbox" v-model="use_regex" />
    </div>
  </div>

  <autocomplete v-if="use_regex"
    v-bind:url="baseterms"
    anchor="orig"
    label="count"
    :param="termparam"
    :customParams="{'terms.fl': 'orig', 'terms.limit': '20', 
                   'terms.sort': 'count'}"
    :min="4"
    :process="process"
    :on-select="getData"
    :onBlur="getDataBlur"
    >
  </autocomplete>
  <autocomplete v-else
    v-bind:url="baseterms"
    anchor="orig"
    label="count"
    param="terms.prefix"
    :customParams="{'terms.fl': 'orig', 'terms.limit': '20', 
                   'terms.sort': 'count'}"
    :min="3"
    :process="process"
    :on-select="getData"
    :onBlur="getDataBlur"
    >
  </autocomplete>

</div>
</template>
<script>
/* global _ */

require("vue2-autocomplete-js/dist/style/vue2-autocomplete.css");
import Autocomplete from "vue2-autocomplete-js";

export default {
    name: "OrigFilter",
    data () {
        return {
            origfilter: "",
            use_regex: false,
        };
    },
    computed: {
        txtlength: function () {
            return this.origfilter.length;
        },
        baseterms: function () {
            return `${this.$store.state.base}terms`;
        }
    },
    methods: {
        process: function(d) {
            let objs = _.map(_.chunk(d["terms"]["orig"], 2), v => {
                return {
                    "orig": v[0], "count": v[1]
                };
            });
            return objs;
        },
        getData: function(d) {
            this.$store.commit("addQueryFilter", ["orig", d["orig"]]);
            this.$store.dispatch("getFacets");
        },
        getDataBlur: function(d) {
            let val = d["srcElement"]["value"];
            this.$store.commit("addQueryFilter", ["orig", val]);
            this.$store.dispatch("getFacets");
        }

    },
    components: { Autocomplete}
};
</script>
<style>
  
.origfilter {
    margin-top: 0.5em;
}

label[for='orig_use_regex'] {
  font-size: 8pt;
  display: inline-block; 
  margin: 0 1em 0 5em;
}

#orig_use_regex {
    margin-left: 0em;
    width: 1em;
    display: inline-block;
}

.autocomplete ul li a {
    display: inline-block;
}

.autocomplete ul li a span.autocomplete-anchor-label {
    display: inline-block;
    padding-left: 10px;
}
</style>
