<template>
  <div>
    <h1>Origterm</h1>
    <div class="term">{{term}}</div>
    <div class="block">
      <div class="head">BM25 (built-in)</div>
      <div class="url"><a :href="basicurl">{{basicurl}}</a></div>
      <div class="response">
        <ul v-if="basicresponse">
          <li v-for="doc in basicresponse.docs" v-bind:key="doc.id">
            {{doc.id}} {{doc.eptitle_txt[0]}}
          </li>
        </ul>
      </div>
    </div>
    <div class="block">
      <div class="head">Log-likelihood (improvised)</div>
      <div class="url"><a :href="llurl">{{llurl}}</a></div>
      <div class="response">
        <ul v-if="llresponse">
          <li v-for="doc in llresponse.docs" v-bind:key="doc.id">
            {{doc.id}} {{doc.eptitle_txt[0]}}
          </li>
        </ul>
        </div>
    </div>
  </div>
</template>
<script>
export default {
    name: "origterm",
    data () {
        return {
            basicresponse: {},
            llresponse: {}
        };
    },
    computed: {
        term: function () {
            return this.$route.params.term;
        },
        basicurl: function () {
            let base = this.$store.state.base;
            return `${base}select?q=orig:${this.term}&fl=id,eptitle_txt`;
        },
        llurl: function () {
            let base = this.$store.state.base;
            return `${base}select?q=orig:$a&fl=id,eptitle_txt,$a,$b,relfreq:div($a,$c),$c,$ll,&a=termfreq(orig,$term)&b=ttf(orig,$term)&c=count_w_l&d=sttf(orig)&ll=mul(mul(-2,$a),%20div(log(div(mul($a,$d),mul($c,$b))),log(2.718281828)))&sort=$ll%20asc&term=${this.term}`;
        }
    },
    methods: {
        getResponse: function () {
            this.$http.get(this.basicurl).then(
                response => {
                    if (response.ok) {
                        this.basicresponse = response.body.response;
                    } else {
                        // console.log(response);
                    }
                }
            );
        },
        getLLResponse: function () {
            this.$http.get(this.llurl).then(
                response => {
                    if (response.ok) {
                        this.llresponse = response.body.response;
                    } else {
                        // console.log(response);
                    }
                }
            );
        }
    },
    beforeMount() {
        this.getResponse();
        this.getLLResponse();
    }
};
</script>
<style>
  div.term {
  font-weight: bold;
  font-size: 16pt;
}
div.block {
    margin: 1em 0;
}
div.head {
    font-size: 14pt;
}
div.url {
    opacity: 0.5;
    font-size: 8pt;
}
</style>

