<template>
  <div id="overview">
    <div class="explain">
      <p>These subject filters are derived from ESTC cataloging data.</p>
    </div>
    <div class="facetset" v-if="has_facetresponse">
      <facet label="General" field="estc_general_ss" 
             v-bind:setExpand="true"
             v-bind:facetmap="chunk(facets.estc_general_ss)" />

      <facet label="Geographic" field="estc_geographic_ss" 
             v-bind:setExpand="true"
             v-bind:facetmap="chunk(facets.estc_geographic_ss)" />

      <facet label="Temporal" field="estc_temporal_ss" 
             v-bind:setExpand="true"
             v-bind:facetmap="chunk(facets.estc_temporal_ss)" />

      <facet label="Form" field="estc_form_ss" 
             v-bind:setExpand="true"
             v-bind:facetmap="chunk(facets.estc_form_ss)" />

      <facet label="Creator" field="estc_creator_ss" 
             v-bind:setExpand="true"
             v-bind:facetmap="chunk(facets.estc_creator_ss)" />

      <facet label="Subject person" field="estc_subject_person_ss" 
             v-bind:setExpand="true"
             v-bind:facetmap="chunk(facets.estc_subject_person_ss)" />

      <facet label="Added person" field="estc_added_person_ss" 
             v-bind:setExpand="true"
             v-bind:facetmap="chunk(facets.estc_added_person_ss)" />
    </div>
  </div>
</template>
<script>

import _ from "lodash";

import Facet from "@/components/Facet.vue";
export default {
    name: "overview",
    computed:  {
        has_facetresponse: function () {
            return "body" in this.$store.state.facetresponse;
        },
        facets: function () {
            return this.has_facetresponse && 
                this.$store.state.facetresponse.body.facet_counts.facet_fields;
        },
    },
    methods: {
        getFacets: function () {
            this.$store.dispatch("getFacets", "");
        },
        chunk: function(seq) {return _.chunk(seq, 2);},
    },
    mounted(){
        if (!this.facets) {
            this.getFacets();
        } 
    },
    components: { Facet }
};
</script>
<style>
#overview {
    margin: 10px;
}
.facetset {
    display: flex;
    flex-wrap: wrap;
}
.facetset .facet {
    margin: 0 1em 1em 0;
}
.facetset .facet .scrollblock.expanded {
    min-height: 350px;
    padding-bottom: 1em;
}

</style>
