<template>
<div class="paginator">
  <p v-if="facetresponse_ok()">
    <span v-if="numFound < 2">
      <span v-if="numFound === 0">No documents found.</span>
      <span v-if="numFound === 1">1 document found.</span>
    </span>
    <span v-else>  
      {{(start + 1).toLocaleString(useGrouping=true)}} 
      to {{end.toLocaleString(useGrouping=true)}} 
      of {{numFound.toLocaleString(useGrouping=true)}} documents found
      <span class="pagination">
        <button v-if="start > 0" 
                v-on:click="setQueryFirst(prevStart)">&lt;</button>
        <button v-if="hasNext"
                v-on:click="setQueryFirst(end)">&gt;</button>
      </span>
    </span>
  </p>
  <p v-else class="warning">Cannot connect to search index.</p>
</div>
</template>
<script>
export default {
    name: "Paginator",
    computed: {
        docs: function () {
            return (this.body.response && this.body.response.docs) || [];
        },
        numFound: function () {
            return this.body.response && this.body.response.numFound || 0;
        },
        start: function () {
            return (this.body.response && this.body.response.start) || 0;
        },
        end: function () {
            return this.body.response && this.body.response.docs && 
                (this.body.response.start + this.body.response.docs.length) || 0 ;
        },
        hasNext: function () {
            return this.end < this.numFound;
        },
        prevStart: function () {
            let windowsize = this.body.responseHeader.params.rows || 10;
            return Math.max(this.start - windowsize, 0);
        }
    },
    methods: {
        facetresponse_ok: function () {
            return this.$store.state.facetresponse.ok;
        },
        setQueryFirst: function(first) {
            this.$store.commit("setQueryFirst", first);
            this.$store.dispatch("getFacets");
        },
        pluralize: function(word, number) {
            if (number == 1) {
                return word;
            } else {
                return word + "s";
            } 
        }
        
    },
    props: ["body"]
};
</script>
<style>
.paginator {
   font-size: 9pt;
   padding: 0 1em 0 1.5em;
   margin: 0.5em 1em 0 0;
}
.paginator button {
    margin-left: 1em;

}
.warning {
    font-size: 16pt;
    padding: 1em;
    color: #008800;
}
</style>
