<template>
<div class="querystate">
  <!-- <div style="font-family: monospace; font-size: 8pt; margin-bottom:1em;">{{query}}</div> -->
  <div id="reset" v-if="Object.keys(query).length > 0" v-on:click="reset">
    Reset
  </div>
  <div v-if="query.q > ''" v-on:click="textclicked()" class="fixedfilterfield">
    <div class="fieldlist">
      <label>Text: </label>
      <div class="val">
        <span class="remove_x">ⓧ</span>
        <span>{{query.q}}</span>
      </div>
    </div>
  </div>
  <div class="filterfields">
    <div class="fixedfilterfield" v-if="filter_1_fields['from']">
      <div class="fieldlist"><label>from</label>
        <div class="val" v-on:click="clicked('from', filter_1_fields['from'])">
          <span class="remove_x">ⓧ</span>
          <span class="fieldval">{{trimval(decodeURI(filter_1_fields['from']))}}</span>
        </div>
      </div>
    </div>
    <div class="fixedfilterfield" v-if="filter_1_fields['to']">
      <div class="fieldlist"><label>to</label>
        <div class="val" v-on:click="clicked('to', filter_1_fields['to'])">
          <span class="remove_x">ⓧ</span>
          <span class="fieldval">{{trimval(decodeURI(filter_1_fields['to']))}}</span>
        </div>
      </div>
    </div>

    <div class="filterfield" v-for="(fieldlist, field) in filterfields"
         v-bind:key="field"
         >
      <div class="fieldlist">
        <label>{{field2displayname(field)}}</label>
        <div class="val" v-for="(val, i) in fieldlist" 
             v-bind:key="i"
             v-on:click="clicked(field, val)">
          <span class="remove_x">ⓧ</span>
          <span class="fieldval">{{trimval(decodeURI(val)).replace(" TO ", " to ")}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>

import _ from "lodash";
export default {
    name: "query-state",
    computed:  {
        query: function () {
            let query = {...this.$store.state.route.query};
            if (query) {
                delete(query["sortdir"]);
                delete(query["sortby"]);
                return query;
            } else {
                return {};
            }
        },
        filter_1_fields: function() {
            let params = this.query;
            let filterfields = _.entries(params).map(
                v => [v[0], v[1].split("|")]);
            filterfields = filterfields.filter(
                v => _.includes(["from","to","text"], v[0]));
            return _.fromPairs(filterfields);
        },
        filterfields: function() {
            let params = this.query;
            let filterfields = _.entries(params).map(
                v => [v[0], v[1].split("|")]);
            filterfields = filterfields.filter(
                v => !_.includes(["from","to","text", "q"], v[0]));
            return _.fromPairs(filterfields);
        }
    },
    methods: {
        clicked: function(field, val)  {
            this.$store.commit("removeQueryFilter", [field, val]); 
            this.$store.dispatch("getFacets");
            this.$store.dispatch("getScatter");
        },
        nzclicked: function(field)  {
            this.$store.commit("removeQueryNonzeroFilter", field); 
            this.$store.dispatch("getFacets");
        },
        textclicked: function()  {
            this.$store.dispatch("getFacets");
            this.$store.dispatch("getScatter");
            this.$store.commit("setQueryText", "");
        },
        trimval: function(val) {
            if (val.length > 55) {
                return val.substring(0, 50) + "…";
            } else {
                return val;
            }
        },
        field2displayname: function(field) {
            return field.replace("_txt", "")
                .replace(/_ss$/, "")
                .replace(/_s$/, "")
                .replace(/_l$/, "")
                .replace("source", "")
                .replace("subject", "")
                .replace(/^ep/, "");
        },
        reset: function() {
            let query = this.query;
            for (let field in query) {
                this.$store.commit("removeQueryFilter", [field, query[field]]);
            }
            this.$store.dispatch("getFacets");
            this.$store.dispatch("getScatter");
        }
    }
};
</script>
<style scoped>
.querystate {
    margin: 2em 5em;
    border: 3px solid #F0F0F0;
    display: flex;
}
.filterfields, .filterfield {
    display: flex;
    margin: 0 5px 0 0;
}
.fieldname {
    margin: 0 1em  ;
    display: inline-block;
    font-style: italic;
}
.fieldlist {
    margin: 0 5px 0 0;
}
.fieldlist label {
    font-size: 8pt;
    color: #000088;
    background: #E0E0E0;
    padding: 3px 10px;
}
.val {
   border: 1px solid #80808080;
   font-size: 80%;
   color: #FFFFFF;
   background: #404040;
   padding: 1px 3px;
   margin: 1px 0;
}
.fixedfilterfield .val {
    background: #0070A0;
}
.val:hover {
   border: 1px solid #F08080;
   color: #FFFFFF;
   background: #B0C0C0;
   cursor: pointer;
}
.val:hover .fieldval {
   color: #606060;
   display: inline-block;
}
.val:hover .remove_x {
    color: #FF0020;
    font-weight: bold;
}
.fixedfilterfield .remove_x {
    color: #E0E080;
}
.remove_x {
    color: #808080;
    margin: 0 4px 0 0;
}
#reset {
    height: 24px;
    width: 40px;
    border: 2px solid #C0C0C0;
    background: #F0E0E0;
    color: #808080;
    margin: 10px;
    padding: 3px;
    font-size: 8pt;
    font-weight: bold;
}
#reset:hover {
    background: #F0A0A0;
    color: #404040;
    cursor: pointer;
    border: 2px solid #808080;
}
</style>
