<template>
  <div class="results">
    <div class="explain">The TCP # buttons link to pages with additional information about each document, including metadata and TEI tag counts. </div>
    <div class="docs">
      <div class="doc" 
           v-for="(doc, i) in docs" 
           v-bind:key="doc.id">
        <span class="indexnum">{{i}}</span>
        <span class="pubdate" v-if="'eppublicationYear_txt' in doc">{{doc.eppublicationYear_txt[0]}} </span>
        <span class="author">
          <span v-for="(author, i) in doc.epauthor_txt" v-bind:key="i">{{author}}<span v-if="(i+1) < doc.epauthor_txt.length">; </span>
          </span>
        </span>
        <span class="docid"><a title="more information on this document" 
                              v-bind:href="'doc/' + doc.id"
                              >TCP # {{doc.id.replace(".xml", "")}}</a></span>
        <div>
          <i>{{doc.sourcetitle_txt[0]}} </i>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
    name: "Results",
    computed: {
        docs: function () {
            return this.body.response && this.body.response.docs || [];
        },
    },
    methods: {
        setQueryFirst: function(first) {
            this.$store.commit("setQueryFirst", first);
            this.$store.dispatch("getFacets");
        }
    },
    props: ["body"]
};
</script>
<style>
.results {
   background: #F8F8F8;
   padding: 0 1em 0 1.5em;
   margin: 0 1em;
   min-width: 10em;
   max-width: 800px;
   font-size: 9pt;
}
.docs {
    display: flex;
    flex-direction: column;
}
.doc {
    padding: 0.5em;
}
.docid {
    font-weight: normal;
    font-family: monospace;
    font-size: 8pt;
    margin-left: 1em;
    background: #666666;
    color: #FFFFFF;
    height: 1.7em;
    vertical-align: bottom;
    padding: 2px 5px;
    margin: auto 1em;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #8080A0;
}
.docid a {
    color: #FFFFFF;
}
.docid a:hover {
    color: #40A0F0;
}
.docid:hover {
    background: #444444;
}
.indexnum {
    margin: 0 0.5em 0 -1.5em;
    padding: 0.25em;
    display: inline-block;
    font-weight: bold;
    color: #884444;
    background: #88444411;
    border-radius: 0.2em;
    border: 1px solid #CC000044;
    line-height: 90%;
    font-size: 90%;
}
</style>
