<template>
  <div id="structuralscatter">
    <div class="explain">
      EarlyPrint texts are derived from TCP XML run through MorphAdorner to annotate individual tokens. This interactive visualization represents each document in the result set as a circle. The position of the circle is determined by the number of instances of particular XML tags in that document. For example, choosing "w" and "pb" will show the distribution of densities in terms of average words per page. <strong>Drag a rectangle</strong> over the scatterplot to add additional filter criteria based on ranges of values. You can remove any filters by clicking on them in query bar above.
    </div>
    <div class="controls">
      <label for="yfield">Y-axis:</label>
      <select name="yfield" id="yfield" v-model="yfld">
        <option :value="fld" 
                v-for="fld in fieldlabels(fieldlist)"
                v-bind:key="fld">{{fld}} {{annotate_fieldlabel(fld)}}</option>
      </select>
      <label for="y_islogscale">Y log scale:</label>
      <input id="y_islogscale" name="y_islogscale" 
             v-model="y_islogscale" type="checkbox"/>
      <label for="xfield">X-axis:</label>
      <select name="xfield" id="xfield" v-model="xfld">
        <option :value="fld" 
                v-for="fld in fieldlabels(fieldlist)"
                v-bind:key="fld">{{fld}} {{annotate_fieldlabel(fld)}}</option>
      </select>
      <label for="x_islogscale">X log scale:</label>
      <input name="x_islogscale" id="x_islogscale" 
             v-model="x_islogscale" type="checkbox"/>
    </div>
    <hr/>
    <div>{{scatterresponse && (scatterresponse.response.docs.length.toLocaleString(useGrouping=true) + ' documents') }}</div>
    <div id="viz"/>
  </div>
</template>
<script>
import Vue from "vue";
import VueVega from "vue-vega";
// import VueLodash from "vue-lodash";
import _ from "lodash";
import embed from "vega-embed";

Vue.use(VueVega);
// Vue.use(VueLodash);

export default {
    name: "scatter-counts",
    data () {
        return {
            xfld: "l",
            x_islogscale: false,
            yfld: "lg",
            y_islogscale: false,
            vega: undefined
        };
    },
    computed: {
        encoding: function() {
            return {
                x: {field: `count_${this.xfld}_l`, 
                    scale: {
                        type: this.x_islogscale ? "log" : "linear"
                    },
                    type: "quantitative"},
                y: {field: `count_${this.yfld}_l`, 
                    scale: {
                        type: this.y_islogscale ? "log" : "linear"
                    },
                    type: "quantitative"}
            };
        },
        scatterdata: function() {
            return this.scatterresponse && 
                this.scatterresponse.response && 
                this.scatterresponse.response.docs || [];
        },
        spec: function () {
            let sp = 
                {
                    "$schema": "https://vega.github.io/schema/vega-lite/v2.json",
                    "data": {"values": this.scatterdata},
                    "width": 600,
                    "height": 400,
                    "mark": "point",
                    "selection": {
                        "brush": {
                            "type": "interval",
                            "update": 
                            {
                                "x": {"scale": "xOverview",
                                      "signal": "brush_start"},
                                "y": {"scale": "xOverview",
                                      "signal": "brush_end"}
                            }
                        }
                    },
                    "encoding":  this.encoding
                };
            return sp;
        }
    },
    methods: {
        specf: function ()  {
            return {
                "$schema": "https://vega.github.io/schema/vega-lite/v2.json",
                "data": {"values": this.scatterdata},
                "width": 600,
                "height": 400,
                "mark": "point",
                "encoding": this.encoding
            };
        },
        annotate_fieldlabel: function(label) {
            let annotation = {
                "back": "(back matter)",
                "body": "(of single text)",
                "closer": "(in correspondence)", 
                "date": "",
                "dateline": "(of document)",
                "div": "",
                "epigraph": "",
                "front": "(front matter)",
                "gap": "(missing)",
                "group": "",
                "head": "",
                "hi": "(highlighted)",
                "l": "(line)",
                "lg": "(line group)",
                "list": "",
                "opener": "(in correspondence)",
                "p": "(paragraph)",
                "pb": "(page break)",
                "pc": "(punctuation)",
                "salute": "(salutation)",
                "sp": "(speech)",
                "speaker": "",
                "stage": "",
                "text": "",
                "trailer": "",
                "w": "(word token)",
            };
            if (label in annotation) {
                return annotation[label];
            } else {
                return "";
            }

        },
        fieldlabels: function() {
            let flds = [];
            for (var i in this.fieldlist) {
                flds.push(this.fieldlist[i].replace("count_", "")
                    .replace("_l", ""));
            }
            return flds.sort();
        },
        setx: function() {
            let xval = document.getElementById("xfield").value;
            this.fieldx = xval;
        },
        sety: function() {
            let yval = document.getElementById("yfield").value;
            this.fieldy = yval;
        },
        getScatter: function() {
            this.$store.dispatch("getScatter", "");
        },
        brushname: function(field) {
            return `brush_count_${field}_l`;
        },
        handlebrush: function(event, item) {
            let context;
            if (item && "context" in item) {
                context = item.context;
            } else {
                if (item && "context" in item.mark.group) {
                    context = item.mark.group.context;
                } else {
                    return ;
                }
            }
            let xbounds = _.sortBy(_.map(
                context.signals[this.brushname(this.xfld)].value,
                Math.round));
            let ybounds = _.sortBy(_.map(
                context.signals[this.brushname(this.yfld)].value,
                Math.round));
            if (xbounds[0] && xbounds[1] && ybounds[0] && ybounds[1]) {
                let xfilter = `[${xbounds[0]} TO ${xbounds[1]}]`;
                let yfilter = `[${ybounds[0]} TO ${ybounds[1]}]`;
                this.$store.commit("addQueryFilter", [`count_${this.xfld}_l`, xfilter]);
                this.$store.commit("addQueryFilter", [`count_${this.yfld}_l`, yfilter]);
                this.$store.dispatch("getFacets");
                this.$store.dispatch("getScatter");
            }
        },
        draw: function() {
            let opts = {"actions": false};
            embed("#viz", this.spec, opts).then(
                v => {
                    this.vega = v;
                    this.vega.view.addEventListener("mouseup", this.handlebrush);
                }
            );
        }
    },
    watch: {
        spec (v) {
            if (v) {
                this.draw();}
        },
    },
    mounted(){
        this.getScatter();
    },
    props: ["fieldlist", "scatterresponse"]
};
</script>
<style>
#structuralscatter {
    margin: 10px;
}
#structuralscatter .controls {
    margin: 10px 0;
}
#structuralscatter label {
    font-size: 10pt;
    display: inline-block;
    margin: 0 0.5em 0 1em;
}

</style>




