<template><header class="site-header" role="banner">

  <div class="mh3 fell">
    <a class="site-title i" rel="author" href="https://earlyprint.org/">EarlyPrint </a>

      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>

	<ul class="p-nested-dropdowns">
		<li><a class="page-link" target="_blank" href="https://texts.earlyprint.org/">Library</a></li>
		<li class="">
			<div><a class="page-link  no-underline" href="https://earlyprint.org/lab">Lab <i class="fa fa-caret-down"></i></a></div>
			<ul>
				<li>
					<div><i class="fa fa-caret-left"></i> Search</div>
					<ul>
						<li><a class="link no-underline dark-gray" href="http://ada.artsci.wustl.edu/catalog">Catalog Search</a></li>
						<li><a class="link no-underline dark-gray" href="https://eplab.artsci.wustl.edu/corpus-frontend-1.2/eebotcp/search/">Corpus Search</a></li>
						<li><a class="link no-underline dark-gray" href="https://earlyprint.org/lab/tool_discovery_engine.html?which_to_do=find_texts&amp;eebo_tcp_id=A43441&amp;n_results=35&amp;tfidf_weight=6&amp;mallet_weight=6&amp;tag_weight=6">The Discovery Engine</a></li>
						<li><a class="link no-underline dark-gray" href="https://earlyprint.org/lab/tool_phrase_search.html">Phrase Search</a></li>
						<li><a class="link no-underline dark-gray" href="https://earlyprint.org/download">Download</a></li>
					</ul>
				</li>
				<li>
					<div><i class="fa fa-caret-left"></i> Visualizations</div>
					<ul>
						<li><a class="link no-underline dark-gray" href="https://earlyprint.org/lab/tool_ngram_browser.html">N-gram Browser</a></li>
						<li><a class="link no-underline dark-gray" href="https://earlyprint.org/bibliographia">Bibliographia</a></li>
						<li><a class="link no-underline dark-gray" href="https://earlyprint.org/lab/tool_eebo_estc_texts.html">Books per Year</a></li>
						<li><a class="link no-underline dark-gray" href="https://earlyprint.org/lab/tool_words_per_year.html">Words Counts</a></li>
					</ul>
				</li>
				<li>
					<div>&nbsp;&nbsp;&nbsp;<a class="link no-underline dark-gray" href="https://earlyprint.org/experiments/">Experiments</a></div>
				</li>
			</ul>
		</li>
		<li>
			<div><a class="page-link" href="https://earlyprint.org/read-more">Read More <i class="fa fa-caret-down"></i> </a></div>
			<ul>
				<li><a class="link no-underline dark-gray" href="https://earlyprint.org/intros">Intros</a></li>
				<li><a class="link no-underline dark-gray" href="https://earlyprint.org/how-to">How-To</a></li>
				<li><a class="link no-underline dark-gray" href="https://earlyprint.org/posts">Posts</a></li>
				<li><a class="link no-underline dark-gray" target="_blank" href="https://earlyprint.org/jupyterbook/intro.html">EarlyPrint + Python</a></li>
			</ul>
		</li>
		<li>
			<div><a class="page-link" href="https://earlyprint.org/read-more">Community <i class="fa fa-caret-down"></i> </a></div>
			<ul>
				<li><a class="link no-underline dark-gray" href="https://texts.earlyprint.org/exist/apps/shc/home.html#loginDialog">Become a Contributor</a></li>
				<li><a class="link no-underline dark-gray" href="https://twitter.com/early_print" target="_blank">Twitter</a></li>
				<li><a class="link no-underline dark-gray" href="mailto:martinmueller@northwestern.edu,jfloewen@wustl.edu?subject=Early Print" target="_blank">Email</a></li>
			</ul>
		</li>
		<li> <a class="page-link" href="https://earlyprint.org/about">About</a> </li>
	</ul>

</header></template>
<script>
export default {
    name: "shared-header"
};
</script>
