<template>
  <div class="kwic">
    <div class="segment" 
         v-for="(snippets, docid, i) in resultset" 
         v-bind:key="docid">
      <div class="docinfo">
        <span class="author">{{author(docs[i])}} </span>
        <span class="title">{{title(docs[i])}}</span>
      </div>
      <!-- {{snippets}} -->
      <div class="snippet" v-for="snippet in snippets['matext']"
           v-bind:key="snippet"><span class="indexnum">{{i}}</span>
        <span v-html="snippet" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
    name: "Snippets",
    computed: {
        resultset: function () {
            if (this.results  && "highlighting" in this.results) {
                return this.results.highlighting;
            } else {
                return [];
            }
        },
        docs: function () {
            if (this.results && this.results.response && this.results.response.docs) {
                return this.results.response.docs;
            } else {
                return [];
            }
        }
    },
    methods: {
        author: function(doc) {
            if ("epauthor_txt" in doc) {
                return doc["epauthor_txt"][0];
            } else {
                return "";
            }
        },
        title: function(doc) {
            if ("eptitle_txt" in doc) {
                return doc["eptitle_txt"][0];
            } else {
                return "";
            }
        },

    },
    props: [ "results"]
};
</script>
<style>
.kwic {
    min-width: 40%;
    padding: 0 0 0 0.2em;
    margin: 0 0 0 2em;
}
.docinfo {
    opacity: 0.5;
    display: none;
}
.docid {
    font-weight: bold;
}
.snippet {
    font-size: 10pt;
}
.snippet em {
    font-weight: bold;
    color: #4444FF;
}

</style>
