<template>
<div id="sortselector">
  <span>Sort by </span>

  <select id="sortfieldselect" v-model="sortby" @change="setSort">
    <option value="">Relevance score</option>
    <option value="date">Date</option>
    <option value="author">Author</option>
    <option value="title">Title</option>
  </select>
  <select id="sortdirselect" v-model="sortdir" @change="setSort">
    <option value="asc">ascending</option>
    <option value="desc">descending</option>
  </select>
  
</div>
</template>
<script>
export default {
    name: "SortSelector",
    data () {
        return {
            sortby: "",
            sortdir: "asc"
        };
    },
    computed: {
        routesortby: function () {
            return this.$store.state.route.query && 
                this.$store.state.route.query["sortby"];
        },
        routesortdir: function () {
            return this.$store.state.route.query && 
                this.$store.state.route.query["sortdir"];
        }
    },
    methods: {
        setSort() {
            if (this.sortby == "") {
                this.$store.commit("removeQueryFilter", ["sortby", this.routesortby]);
                this.$store.commit("removeQueryFilter", ["sortdir", this.routesortdir]);
            } else {
                if (this.routesortby) {
                    this.$store.commit("removeQueryFilter", ["sortby", this.routesortby]);
                }
                this.$store.commit("addQueryFilter", ["sortby", this.sortby]);
                if (this.routesortdir) {
                    this.$store.commit("removeQueryFilter", ["sortdir", this.routesortdir]);
                }
                this.$store.commit("addQueryFilter", ["sortdir", this.sortdir]);
            }
            this.$store.dispatch("getFacets");
        }
    }    
};
</script>
<style>
#sortselector {
    font-size: 9pt;
    padding: 0 1em 0 1.5em;
    margin: 0.5em 1em 0 0;
}

</style>
