<template>
<div class="tcpidfilter">
  <div>TCPID Filter</div>
  <div>
    <input v-model="tcpid" v-on:change="getData"/>
  </div>
</div>
</template>
<script>
export default {
    "name": "TcpidFilter",
    data () {
        return {
            "tcpid": ""
        };
    },
    methods: {
        getData: function(d) {
            let tcpid = d.srcElement.value;
            let previd = this.$store.state.route.query && 
                this.$store.state.route.query["tcpid_s"];
            if (previd) {
                this.$store.commit("removeQueryFilter", ["tcpid_s", previd]); 
            }
            if (tcpid && tcpid > "") {
                this.$store.commit("addQueryFilter", ["tcpid_s", tcpid]); 
            }
            this.$store.dispatch("getFacets");
        },
    }
};

</script>
<style>
.tcpidfilter {
    font-size: 9pt;
    margin-top: 0.5em;
}
.tcpidfilter input {
    box-sizing: border-box;
    width: 100%;
}
</style>
