<template>
<div class="simple">
  <h1>Search</h1>
  <div :class="can_have_highlights ? 'withresults' : 'start'">
    <text-search />
  </div>
  <div>Or see <a :href='advancedpath'>advanced filtering options</a>.</div>
  <div class="response"  v-if="has_facetresponse && can_have_highlights">
    <paginator v-bind:body="body"/>
    <div class="resultset">
      <results v-bind:body="body" />
      <snippets v-bind:results="body" v-if="can_have_highlights"/>
    </div>
  </div>
</div>
</template>
<script>

import Paginator from "@/components/Paginator.vue";
import Results from "./Results.vue";
import Snippets from "./Snippets.vue";
import TextSearch from "./TextSearch.vue";

export default {
    name: "textwrap",
    computed:  {
        has_facetresponse: function () {
            return this.$store.state.facetresponse && 
                "body" in this.$store.state.facetresponse;
        },
        can_have_highlights: function () {
            return this.$store.state.route.query && 
                this.$store.state.route.query.q && 
                this.$store.state.route.query.q !== "";
        },
        body: function () {
            return this.$store.state.facetresponse.body;
        },
        advancedpath: function() {
            let fullpath = this.$store.state.route.fullPath;
            return `.${fullpath.replace("/simple", "/")}`;
        }
    },
    components: { Paginator, Results, Snippets, TextSearch },
    methods: {
        getFacets: function () {
            this.$store.dispatch("getFacets", "");
        }
    },
    mounted(){
        this.getFacets();
    }
    
};
</script>
<style >
div.simple div.response {
    display: block;
}
div.resultset {
    display: flex;
}
div.simple div.snippet {
    font-size: 8pt;
}
div.withresults {
    margin: 1em 5em; 
    font-size: 14pt;
    transition: margin 2s, font-size 2s, border 1s, transform 2s;
}
div.start {
    margin: 1em 5em;
    font-size: 24pt;
    transition: margin 2s, font-size 2s, border 1s, transform 2s;
}

</style>
