<template>
  <div class="textsearch">
    <input v-on:change="getData" v-bind:value="querytext" />
  </div>
</template>
<script>
export default {
    name: "text-search",
    data () {
        return {
            querytext: ""
        };
    },
    methods: {
        getData: function(d) {
            let querytext = d.srcElement.value;
            this.$store.commit("setQueryText", querytext);
            this.$store.dispatch("getFacets");
        },
        routeChanged: function() {
            if (this.$store.state.route.query && 
                this.$store.state.route.query.q) {
                this.querytext = this.$store.state.route.query.q;
            } else {
                this.querytext = "";
            }
        }
    },
    mounted(){
        if (this.$store.state.route.query && 
            this.$store.state.route.query.q) {
            this.querytext = this.$store.state.route.query.q;
        }
    },
    watch: {
        "$route": "routeChanged"
    }
};
</script>
<style>
.textsearch {
    margin: 0 1em 0.2em 0;
    /* padding: 0 4px 0 0; */
    /* background: #0070A0; */
}
.textsearch .label {
    padding: 0;
    font-size: 8pt;
    font-style: italic;

}
.textsearch input {
    font-size: 110%;
    width: calc(100% - 10px);
    padding: 2px 5px;
    /* width: calc(100% - 30px); */
    /* margin: 0 10px; */
    border: 1px solid #0070A0;
    border-right: 5px solid #0070A0;
    /* border-bottom: 3px solid #0070A0; */
}

</style>
