<template>
<div class="titlefilter">
  <div>Title Filter</div>

  <autocomplete
    ref="autocomplete"
    v-bind:url="basesuggest"
    anchor="titletxt"
    label="count"
    param="suggest.q"
    id="titleinput"
    :customParams="{'suggest.dictionary': 'titleSuggester',
                   'suggest.count': '15'}"
    :min="3"
    :onShouldRenderChild="renderChild"
    :process="process"
    :ignoreCase="true"
    :debounce="10"
    :filterByAnchor="false"
    :onSelect="getData"
    :onBlur="getDataBlur"
    >
  </autocomplete>
</div>
</template>
<script>

/* global _ */

require("vue2-autocomplete-js/dist/style/vue2-autocomplete.css");
import Autocomplete from "vue2-autocomplete-js";

let dropbold = function(termstring) {
    return termstring.replace(/<\/?b>/g, "");
};

export default {
    name: "TitleFilter",
    data () {
        return {
            sourcetitle_txtfilter: ""
        };
    },
    computed: {
        txtlength: function () {
            return this.sourcetitle_txtfilter.length;
        },
        basesuggest: function () {
            return `${this.$store.state.base}suggest`;
        }
    },
    methods: {
        process: function(d) {
            let key = Object.keys(d.suggest.titleSuggester)[0];
            let suggestions = d.suggest.titleSuggester[key]["suggestions"];
            let objs = _.uniqBy(suggestions, v => v["term"]);
            objs.forEach(v => v["termtxt"] = dropbold(v["term"]));
            return objs;
        },
        renderChild: function(d) {
            return d["term"]; // this is HTML with <b></b>
        },
        getData: function(d) {
            // this.$store.commit("addQueryFilter", ["sourcetitle_txt", d["termtxt"]]);
            // this.$store.dispatch("getFacets");

            let val = document.getElementById("titleinput").value;
            this.$store.commit("addQueryFilter", ["sourcetitle_txt", val]);
            this.$store.dispatch("getFacets");

        },
        getDataBlur: function(d) {
            let val = dropbold(d["srcElement"]["value"]);
            this.$store.commit("addQueryFilter", ["sourcetitle_txt", val]);
            this.$store.dispatch("getFacets");
            this.$refs.autocomplete.setValue("");
        }
    },
    components: { Autocomplete}
};
</script>
<style>
.titlefilter {
    margin-top: 0.5em;
    font-size: 9pt;
}
.autocomplete ul li a {
    display: inline-block;
}
.autocomplete ul li a span.autocomplete-anchor-label {
    display: inline-block;
    padding-left: 10px;
}
</style>
