<template>
<div id="titlefilter">
  <div>Title Filter</div>
  <!-- <div>{{suggesturl}}</div> -->
  <div>
    <input id="titlefilter" 
           type="text"
           @input="input"
           list="titlesuggestionlist"
           @change="change"/>
    <datalist id="titlesuggestionlist" :data-sl="suggestions.length">
      <option v-for="suggestion in suggestions" 
              v-bind:key="suggestion.term"
              v-html="suggestion.term"
              :value="cleanTerm(suggestion.term)"/>
    </datalist>
  </div>
</div>
</template>
<script>
import _ from "lodash";
export default {
    name: "TitleFilter2",
    data () {
        return {
            filterterm: "",
            suggestions: []
        };
    },
    computed: {
        basesuggest: function () {
            return `${this.$store.state.base}suggest`;
        },
        suggesturl: function () {
            let url = `${this.$store.state.base}suggest` + 
                "?suggest.dictionary=titleSuggester" +
                "&suggest.count=30" + `&suggest.q=${this.filterterm}`;
            return url;
        },
        termparam: function () {
            return (this.use_regex) ?  "terms.regex" :  "terms.prefix";
        }
    },
    methods: {
        input: function (event) {
            let filterterm = event.target.value;
            this.filterterm = filterterm;
            if (event.inputType==="insertReplacementText") {
                // CLICKED on dropdown option
                this.change();
            } else {
                // just typing, refine search
                this.getSuggestions(filterterm);
            }
        },
        change: function() {
            let filterterm = this.filterterm;
            this.$store.commit("addQueryFilter", ["sourcetitle_txt", filterterm]);
            this.$store.dispatch("getFacets");
            document.getElementById("titlefilter").value = "";
            this.filterterm = "";
        },
        cleanTerm: function(val) {
            return val.replace(/<\/?b>/g, "");
        },
        getSuggestions: function (filterterm) {
            let url = `${this.$store.state.base}suggest` + 
                "?suggest.dictionary=titleSuggester" +
                "&suggest.count=30&suggest.q=" + filterterm;
            this.$http.get(url).then(
                response => {
                    if (response.ok) {
                        let suggestions = response.body.suggest
                            .titleSuggester[filterterm].suggestions;
                        suggestions = suggestions = _.uniqBy(suggestions, "term");
                        suggestions = _.sortBy(suggestions, "term");
                        this.suggestions = suggestions;
                    } else {
                        this.filterterm = filterterm;
                        console.log("ERROR" , response);
                    }
                }
            );
        }
    }
};
</script>
<style scoped>
#titlefilter {
    font-size: 10pt;
    position: relative;
}
#titlefilter:focus-within .suggestionlist {
    display: block;
    background: #F0F0F0;
    transition: all 1.5s ease-out;
}
#titlefilter div {
    font-size: 8pt;
}
#titlefilter input {
    width: 100%;
    overflow: scroll;
}
</style>
