<template>
  <div class="tvrh">
    <div><b>Terms</b> ({{tvecs.length.toLocaleString(useGrouping=true)}} types, 
      {{count_tokens(tvecs).toLocaleString(useGrouping=true)}} tokens)
      (by {{annotate_label(label)}})</div>
    
    <div class="tvrhparts">
      <div id="viz"/>
      <div id="selectionlist">
        <div v-if="selection['tf']">
          <div>
            {{selection["# terms"].toLocaleString(useGrouping=true)}} 
            {{label}}{{selection["# terms"] > 1 && "s"  || ""}}
            {{selection["# terms"] > 1 && "occur"  || "occurs"}}
            <b>{{parseInt(selection["tf"]).toLocaleString(useGrouping=true)}}
            {{selection["tf"] > 1 && "times" || "time"}}</b>
            in this document <br/>
            while appearing in 
            <b>{{parseInt(selection["df"]).toLocaleString(useGrouping=true)}}
            {{selection["df"] > 1 && "documents" || "document"}}</b>
            altogether in the EarlyPrint corpus. <br />
          </div>
          <ul>
            <li v-for="term in selection['terms']" v-bind:key="term">
          <a v-bind:href="`http://ada.artsci.wustl.edu:8080/corpus-frontend-1.2/eebotcp/search/hits?number=20&first=0&patt=%5B${blacklab_label(label)}%3D%22${term}%22%5D&sort=field%3Ayear`" target="_">{{term}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <table class="termlist">
      <thead>
        <td>{{label}}</td><td>count</td><td>docs</td></thead>
      
      <tr class="termitem" v-for="vec in tvecs.slice(0,40)" v-bind:key="vec['t']">
        <td class="termlabel">
          <a v-bind:href="`http://ada.artsci.wustl.edu:8080/corpus-frontend-1.2/eebotcp/search/hits?number=20&first=0&patt=%5B${blacklab_label(label)}%3D%22${vec.t}%22%5D&sort=field%3Ayear`">
            {{vec.t}}</a>
        </td> 
        <td class="termtf">{{vec.tf}} </td>
        <td class="termtf">{{vec.df}} </td>
      </tr>
    </table>
  </div>
</template>
<script>
import _ from "lodash";  
import embed from "vega-embed";


export default {
    name: "tvrh",
    data () {
        return {
            vega: undefined,
            selection: []
        };
    },
    computed: {
        clusters: function () {
            let firstchunked = _.chunk(this.rawvecs, 2);
            let chunked =  _.map(
                firstchunked, 
                v => _.assign(
                    _.fromPairs(_.chunk(v[1], 2)),
                    {"t": v[0]}));
            let doctermcount = _.sum(_.map(chunked, v => v["tf"]));
            let results = _(chunked)
                .groupBy(x => [x["tf"], x["df"]])
                .map((value, key) => ({
                    "tf": key.split(",")[0],
                    "df": key.split(",")[1],
                    "idf": 1/key.split(",")[1],
                    "# terms": value.length,
                    "terms": value.map(v => v["t"])})).value();
            results = _.map(
                results, 
                v  => _.assign(v, {"idf": this.numdocs/v["df"]}));
            results = _.map(
                results, 
                v => _.assign(v, {"idf": this.numdocs/v["df"]}));
            results = _.map(
                results, 
                v => _.assign(v, {"rtf": v["tf"]/doctermcount}));
            results = _.map(
                results, 
                v => _.assign(v, {"logtf": Math.log(1 + v["rtf"])}));
            results = _.map(
                results, 
                v => _.assign(v, {"logidf": Math.log(0.01 + v["idf"])}));
            results = _.map(
                results, 
                v => _.assign(v, {"tfidf1": v["rtf"] * v["logidf"]}));
            results = _.map(
                results, 
                v => _.assign(v, {"tfidf": v["logtf"] * v["logidf"]}));
            let sorted = _.sortBy(results, v => -v["tfidf"]);
            sorted = sorted.map((v, k) => {
                v["i"] = k;
                return v;
            });
            return sorted;
        },
        nth_tfidf: function() {
            let subseq = this.clusters.slice(0, 100);
            let nth = this.clusters[subseq.length - 1];
            return nth["tfidf"];
        },
        tvecs: function() {
            let firstchunked = _.chunk(this.rawvecs, 2);
            let chunked =  _.map(
                firstchunked, 
                v => _.assign(
                    _.fromPairs(_.chunk(v[1], 2)),
                    {"t": v[0]}));
            let doctermcount = _.sum(_.map(chunked, v => v["tf"]));
            chunked = _.map(
                chunked, 
                v => _.assign(v, {"idf": this.numdocs/v["df"]}));
            chunked = _.map(
                chunked, 
                v => _.assign(v, {"rtf": v["tf"]/doctermcount}));
            chunked = _.map(
                chunked, 
                v => _.assign(v, {"logtf": Math.log(1 + v["rtf"])}));
            chunked = _.map(
                chunked, 
                v => _.assign(v, {"logidf": Math.log(0.01 + v["idf"])}));
            chunked = _.map(
                chunked, 
                v => _.assign(v, {"tfidf": v["rtf"] * v["logidf"]}));
            chunked = _.map(
                chunked, 
                v => _.assign(v, {"tfidf2": v["logtf"] * v["logidf"]}));
            let sorted = _.sortBy(chunked, v => -v["tfidf2"]);
            return sorted;
        },
        encoding: function () {
            return {
                x: {
                    field: "tf",
                    type: "quantitative",
                    scale: {"type": "log"},
                    axis: {
                        "title": "term frequency (log scale)"
                    }
                },
                y: {
                    field: "idf",
                    axis: {
                        "title": "1 / document frequency (log scale)"
                    },
                    type: "quantitative",
                    scale: {"type": "log"}
                },
                size: {
                    "field": "# terms",
                    "type": "quantitative",
                    "bin": {
                        "minstep": 1, 
                        "binned": false
                    },
                    "scale": {
                        "type": "bin-log",
                        "range": [30, 1000]
                    },
                    "legend": false
                },
                tooltip: [
                    {"field": "tf", "type": "quantitative"}, 
                    {"field": "df", "type": "quantitative"},
                    {"field": "tfidf", "type": "quantitative"},
                    {"field": "# terms", "type": "quantitative"},
                    {"field": "terms", "type": "nominal"}
                ]
            };
        },
        spec: function () {
            let sp = {
                "$schema": "https://vega.github.io/schema/vega-lite/v2.json",
                "data": {"values": this.clusters},
                "width": 1000,
                "height": 600,
                "layer": [
                    {
                        "selection": {
                            "point": {
                                "type": "single",
                                "on": "mouseover",
                                "empty": "none"}
                        },
                        "mark": {
                            "type": "point",
                            "filled": true},
                        "encoding": {
                            "opacity": {"field": "tfidf",
                                        "scale": {"type": "linear",
                                                  "domain": [0, 0.05],
                                                  "range": [0, 1.0]}}
                        }
                    },
                    {
                        "selection": {
                            "term": {
                                "type": "single",
                                "on": "mouseover",
                                "empty": "none"}
                        },
                        "mark": {
                            "type": "text",
                            "align": "left",
                            "dy": 3,
                            "dx": 5,
                            "limit": {
                                "condition": {
                                    "selection": "term",
                                    "value": 500
                                },
                                "value": 10
                            }
                        },
                        "transform": [
                            {"filter": 
                              `(datum['# terms'] < 2) && (datum.i < 50)`}
                        ],
                        "encoding": {
                            "text": {
                                "field": "terms",
                                "type": "nominal"
                            },
                            "size": {
                                "condition": {
                                    "selection": "term",
                                    "value": 25
                                },
                                "value": 15},
                            "color": {
                                "condition": {
                                    "selection": "term",
                                    "value": "#884444"
                                },
                                "value": "#444488B0"
                            }
                        }
                    }
                ],
                "encoding": this.encoding
            };
            return sp;
        }
    },
    methods: {
        blacklab_label: function(label) {
            if (label === "orig") {
                return "word";
            } else {
                return label;
            }
        },
        annotate_label: function(label) {
            let annotation = {
                "orig" : "original spelling", 
                "reg" : "regularized spelling", 
                "lemma" : "dictionary headword"
            };
            if (label in annotation) {
                return annotation[label];
            } else {
                return "";
            }
        },
        idf1: function(term) {
            return this.maxdf / term["df"] ;
        },
        handleselection: function(event, item){
            this.selection = item.datum;
            
        },
        draw: function() {
            let opts = {"actions": {
                "editor": true, 
                "source": false,
                "compiled": false}};
            embed("#viz", this.spec, opts).then(
                v => {
                    this.vega = v;
                    this.vega.view.addEventListener("mouseup", this.handleselection);
                }
            );
        },
        count_tokens: function(tvecs) {
            return _.sum(_.map(tvecs, v => v["tf"]));
        }
    },
    watch: {
        spec (v) {
            if (v) {
                this.draw();
            }
        }
    },
    mounted () {
        this.draw();
    },
    props: [ "rawvecs", "numdocs", "label" ]
    
};
</script>
<style>
div.tvrh {
    background: #EEEEEE;
    padding: 1em;
}
div.tvrh .tvrhparts {
   display: flex;
}
#viz {
    margin-right: 40px;
}
thead td {
    font-weight: bold;
}
p.termlist {
    line-height: 100%;
    font-size: 10pt;
    text-align: right;
}
#vg-tooltip-element tr {
    margin: 0;
    vertical-align: baseline;
    height: 1em;
}
#vg-tooltip-element table tr td {
    line-height: 1.1em;
    padding-top: 0;
    padding-bottom: 0;
}
.tvrh ul {
    list-style-type: none;
    padding-inline-start: 20px;
    line-height: 1.2em;
    margin-top: 1em;
    border: 1px solid #E0E0E0;
}
.tvrh li {
    padding: 0;
}


</style>


