<template>
  <div id="app">
    <shared-header />
    <div id="routerview">
    <router-view/>
    </div>
  </div>
</template>
<script>
import SharedHeader from "@/components/SharedHeader.vue";
export default {
    name: "app",
    components: {
        SharedHeader
    }
};
</script>
<style>
#appblock {
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale; */
    /* color: #2c3e50; */
}
#nav {
  padding: 10px 20px 0 20px;
  background: #FFFFFF;
}

#nav a {
    padding: 10px;
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}
#routerview {
    background: #FFFFFF;
    margin: 10px;
    padding: 10px 10px 20px 10px;
}
</style>
